.graphite .accordion {
	font: bold 12px Arial, sans-serif;
	border-top: 1px solid #111;
	border-right: 1px solid #111;
	border-left: 1px solid #111;
	margin: 0px;
	padding: 0px;
}

.graphite .accordion,.graphite .accordion li {
	margin: 0;
	padding: 0;
	border: none;
}

.graphite .accordion a {
	padding: 10px 10px 10px 50px;
/* 	background: #0C0C0C url(images/bg_black.png) repeat-x 0 -1px; */
	background: #FFFFFF url(images/bg_black.png) repeat-x 0 -1px;
	text-decoration: none;
	display: block;
	color: #ddd;
/* 	border-bottom: 1px solid #222; */
/* 	border-top: 1px solid #777; */
	position: relative;
}

.graphite .accordion ul a {
/* 	background: #424549; */
	background: #E8E8E8;
	color: #333333;
	
}

.graphite .accordion a.dcjq-parent,.graphite .accordion a.dcjq-parent:hover
	{
/* 	background: #0C0C0C url(images/bg_black.png) repeat-x 0 -1px; */
	background: #666666 url(images/bg_black.png) repeat-x 0 -1px;
}

.graphite .accordion a.dcjq-parent.active {
	
}

.graphite .accordion a .dcjq-icon {
	position: absolute;
	top: 50%;
	left: 14px;
	width: 34px;
	margin-top: -17px;
	height: 34px;
	background: url(images/arrow_black_right.png) no-repeat 0 center;
}

.graphite .accordion a.dcjq-parent.active .dcjq-icon {
	background: url(images/arrow_black_down.png) no-repeat 0 center;
}

.graphite .accordion a:hover {
/* 	background: #232323; */
	background: #CDCDCD;
	color: #FFFFFF;
}

.graphite .accordion a:active {
	
}