.form-login {
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 10px;
	border-radius: 10px;
	background: #eee;
}

.form-login input {
	margin-bottom: 10px !important;
	font-size: 12px !important;
}

.btnLogin {
	display: inline-block !important;
	padding: 6px 12px !important;
	margin-bottom: 0 !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	line-height: 1.42857143 !important;
	text-align: center !important;
	white-space: nowrap !important;
	vertical-align: middle !important;
	-ms-touch-action: manipulation !important;
	touch-action: manipulation !important;
	cursor: pointer !important;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	background-image: none !important;
	border: 1px solid transparent !important;
	border-radius: 4px !important;
	color: #fff !important;
	background-color: #337ab7 !important;
	border-color: #2e6da4;
}

.btn-block login {
	display: block !important;
	width: 100%;
}

* {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 13px;
}

body {
	padding-top: 50px;
}

section {
	padding-top: 25px;
	padding-bottom: 15px;
	min-height: 100vh;
}

section#contato {
	min-height: 80vh;
}

footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background: url(../imgs/bgslider.png);
}

img.grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */

	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
}

.navbar-brand {
	font-weight: 700;
}

.divslider {
	padding-top: 15px;
	padding-bottom: 15px;
	background: url(../imgs/bgslider.png);
}

.div_colorida {
	background: url(../imgs/bgslider.png);
}

.servicos_item * {
	text-align: center;
}

.servicos_item h4 {
	margin-top: 30px;
	font-size: 25px;
}

.servicos_btn_todososservicos {
	margin-top: 25px;
}

.portfolio_item {
	background: white;
}

.portfolio_row {
	margin-bottom: 20px;
}

.portfolio_row:last-child {
	margin-bottom: 0px;
}

.portfolio_item h4 {
	text-align: center;
	margin-top: 20px;
	padding-bottom: 20px;
}

.contato textarea {
	height: 170px;
}

.contato .aviso {
	padding: 15px;
}

.section_interna {
	padding-top: 0px;
}

.panel {
	margin-bottom: 2px;
}

.subtituloPagina {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #ccc;
	color: #555;
	background: #ECECEC;
	margin-bottom: 10px;
	width: 100%;
}

.backgroundPagina {
	background: #fff;
	min-height: 600px;
	height: 100%;
	color: #555;
	margin-top: -32px;
	border: 1px solid #ccc;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.tituloCampos {
	color: #555;
	padding: 3px;
	font: 13px Tahoma;
	text-align: right;
	vertical-align: middle;
	/* 	font-weight: bold; */
}

/* .campos { */
/* 	background-color: #ffffff; */
/* 	padding: 3px; */
/* 	height: 26px; */
/* } */

.botoesBackground {
	text-align: center;
}

.input50Porcento {
	width: 50%
}

.input40Porcento {
	width: 40%
}

.input30Porcento {
	width: 30%
}

.input20Porcento {
	width: 20%
}

.input10Porcento {
	width: 10%
}

.botoes {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}

.labelCampos {
	color: #555;
	padding: 3px;
	font: 12px arial;
	text-align: right;
	vertical-align: middle;
}

.rf-dt-ftr-c {
	background: #ffffff none repeat scroll 0 0 !important;
	border: none;
}

.rf-ds {
	background: #ffffff none repeat scroll 0 0 !important;
	display: inline-block;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	padding: 5px;
	white-space: nowrap;
}

.rf-ds-act, .rf-ds-act:hover {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-color: transparent transparent #c4c0c9;
	border-style: solid;
	border-width: 1px;
	cursor: default;
	font-weight: bold;
}

.rf-ds-btn {
	width: 45px !important;
	height: 30px !important;
	border-radius: 5px !important;
}

.rf-ds-nmb-btn {
	width: 35px !important;
	height: 30px !important;
}

.rf-ds-btn rf-ds-btn-first {
	width: 35px !important;
	height: 30px !important;
}

.rf-ds-btn rf-ds-btn-fastrwd {
	width: 35px !important;
	height: 30px !important;
}

.rf-ds-btn rf-ds-btn-prev {
	width: 35px !important;
	height: 30px !important;
}

.rf-ds-btn rf-ds-btn-next {
	width: 35px !important;
	height: 30px !important;
}

.rf-ds-btn rf-ds-btn-fastfwd {
	width: 35px !important;
	height: 30px !important;
}

.rf-ds-btn rf-ds-btn-last {
	width: 35px !important;
	height: 30px !important;
}

.headerForm {
	width: 100%;
	min-height: 15px;
	border-bottom: 1px solid #ccc;
	color: #555;
	background: #EEEEEE;
	margin-bottom: 10px;	
	font-family: latobold;
	font-size: 1.1em;
	line-height: 35px;
	padding: 0px;
}

.backgroundForm {
	width: 100%; 
	background: #fff;
	min-height: 50px;
	height: 100%;
	color: #555;
	margin-top: 10px;
	border: 1px solid #ccc;
	padding: 0 0 10px 0;
	
}

.tituloForm {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
}

.tituloCamposTopo {
	color: #555;
	padding: 3px;
	font: 14px Tahoma;
	text-align: right;
	vertical-align: middle;
	font-weight: bold;
}

.campos {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.camposObrigatorios {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-left-color: #bf0000 !important;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}


.camposObrigatoriosSomenteLeitura {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	line-height: 1.42857143;
	color: #555;
	background-color: #eee !important;
	background-image: none;
	border: 1px solid #ccc;
	border-left-color: #bf0000 !important;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}


.camposSomenteLeitura {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	line-height: 1.42857143;
	color: #555;
	background-color: #eee !important;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.camposSomenteLeituraObrigatorio {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	line-height: 1.42857143;
	color: #555;
	background-color: #eee !important;
	border-left-color: #bf0000 !important;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.labelCamposFooterTable {
	color: #555;
	padding: 3px;
	font: 14px arial;
	text-align: right;
	vertical-align: middle;
	font-style:italic;
	font-weight:bold;
}


.camposData {
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.camposDataObrigatorio {
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-left-color: #bf0000 !important;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.camposComboBox {
	display: block;
	width: 100%;
	height: 34px !important;
	padding: 6px 12px;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.camposObrigatoriosComboBox {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-left-color: #bf0000 !important;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.tituloPerfilUsuario {
	color: #555;
	padding: 3px;
	font: 17px Tahoma;
	text-align: right;
	vertical-align: middle;
	font-weight: bold;
}

.tituloTotalCredito {
	color: blue;
	padding: 3px;
	font: 13px Tahoma;
	text-align: right;
	vertical-align: middle;
}

.tituloTotalDebito {
	color: red;
	padding: 3px;
	font: 13px Tahoma;
	text-align: right;
	vertical-align: middle;
	
}

.tituloCamposNegrito {
	font: 13px 'Trebuchet MS', Arial, verdana, helvetica, sans-serif;
	color: #5F5F5F;
	height: 22px;
	line-height: 22px;
	text-align: right;
	vertical-align: bottom;
	font-weight: bold;
}

.tituloCamposCodigoBarra {
	font: 12pt 'Trebuchet MS', Arial, verdana, helvetica, sans-serif;
	color: #5F5F5F;
	height: 18px;
	line-height: 22px;
	text-align: right;
	vertical-align: bottom;
}
.imagemLogo {
  background: url("/images/logo3.png") no-repeat;
  height: 25px;
  width: 25px;
}
