<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:otm="http://java.sun.com/jsf/composite/otm">

<h:head>
	<title>Videira Project</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />

	<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
	<link href="../css/estilo.css" rel="stylesheet" media="screen"></link>
	<link href="../css/painel.css" rel="stylesheet" media="screen"></link>

</h:head>
<f:view>
	<h:body>

		<div class="modal fade" id="modalCelula" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
			<h:form id="formCelula">
				<div class="modal-dialog modal-medio" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Célula</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-2 text-left">
									<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Consultar Por</label>
								</div>
								<div class="col-xs-2 text-left">
									<h:selectOneMenu styleClass="form-control" value="#{celulaRelControle.campoConsultaCelula}">
										<f:selectItems value="#{celulaRelControle.listaSelectItemCelulaVOs}" />
									</h:selectOneMenu>
								</div>
								<div class="col-xs-4 text-left">
									<h:inputText styleClass="form-control" value="#{celulaRelControle.valorConsultaCelula}" />
								</div>
								<div class="col-xs-1 text-left">
									<a4j:commandLink id="btnConsultarCelula" action="#{celulaRelControle.consultarCelula}" styleClass="btn btn-primary botoes" render="formCelula">
										<span class="glyphicon glyphicon-search"></span>  Consultar
									</a4j:commandLink>
								</div>
							</div>
						</div>

						<div style="margin-top: 20px;">
							<div class="col-xs-12">
								<rich:dataTable id="itemsCelula" value="#{celulaRelControle.listaConsultaCelulaVOs}" rendered="#{not empty celulaRelControle.listaConsultaCelulaVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="5" var="celulaItem">

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Código" />
										</f:facet>
										<a4j:commandLink action="#{celulaRelControle.selecionarCelula}" render="form:celula, formCelula" oncomplete="$('#modalCelula').modal('hide');" styleClass="labelCampos" id="codigoCelula" value="#{celulaItem.codigo}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Nome" />
										</f:facet>
										<a4j:commandLink action="#{celulaRelControle.selecionarCelula}" oncomplete="$('#modalCelula').modal('hide');" render="form:celula, formCelula" styleClass="labelCampos" id="nomeCelula" value="#{celulaItem.nome}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Opções" />
										</f:facet>
										<a4j:commandLink id="btnEditarCelula" action="#{celulaRelControle.selecionarCelula}" oncomplete="$('#modalCelula').modal('hide');" render="form:celula, formCelula" styleClass="btn btn-primary" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-pencil"></span>
										</a4j:commandLink>

									</rich:column>
									<f:facet name="footer">
										<div style="text-align: center !important">
											<rich:dataScroller align="center" for="formCelula:itemsCelula" boundaryControls="auto" stepControls="auto" fastControls="auto" id="scResultadoCelula" />
										</div>
									</f:facet>
								</rich:dataTable>
							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>

						<div class="col-xs-12">
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{celulaRelControle.apresentarMensagemDetalhada and celulaRelControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{celulaRelControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{celulaRelControle.apresentarMensagem and celulaRelControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{celulaRelControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{celulaRelControle.apresentarMensagem and celulaRelControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{celulaRelControle.mensagem}" />
								</div>
							</h:panelGroup>
						</div>
					</div>
				</div>
			</h:form>
		</div>

		<!-- 		MODAL PREDIO -->

		<div class="modal fade" id="modalPredio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
			<h:form id="formPredio">
				<div class="modal-dialog modal-medio" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Prédio</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-2 text-left">
									<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Consultar Por</label>
								</div>
								<div class="col-xs-2 text-left">
									<h:selectOneMenu styleClass="form-control" value="#{celulaRelControle.campoConsultaPredio}">
										<f:selectItems value="#{celulaRelControle.listaSelectItemPredio}" />
									</h:selectOneMenu>
								</div>
								<div class="col-xs-4 text-left">
									<h:inputText styleClass="form-control" value="#{celulaRelControle.valorConsultaPredio}" />
								</div>
								<div class="col-xs-1 text-left">
									<a4j:commandLink id="btnConsultarPredio" action="#{celulaRelControle.consultarPredio}" styleClass="btn btn-primary botoes" render="formPredio">
										<span class="glyphicon glyphicon-search"></span>  Consultar
									</a4j:commandLink>
								</div>
							</div>
						</div>

						<div style="margin-top: 20px;">
							<div class="col-xs-12">
								<rich:dataTable id="itemsPredio" value="#{celulaRelControle.listaConsultaPredioVOs}" rendered="#{not empty celulaRelControle.listaConsultaPredioVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="5" var="predioItem">

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Código" />
										</f:facet>
										<a4j:commandLink action="#{celulaRelControle.selecionarPredio}" render="form:predio, formPredio, form:rede" oncomplete="$('#modalPredio').modal('hide');" styleClass="labelCampos" id="codigoCidade" value="#{predioItem.codigo}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Nome" />
										</f:facet>
										<a4j:commandLink action="#{celulaRelControle.selecionarPredio}" oncomplete="$('#modalPredio').modal('hide');" render="form:predio, formPredio, form:rede" styleClass="labelCampos" id="nomePredio" value="#{predioItem.nome}" />
									</rich:column>

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Opções" />
										</f:facet>
										<a4j:commandLink id="btnEditarPredio" action="#{celulaRelControle.selecionarPredio}" oncomplete="$('#modalPredio').modal('hide');" render="form:predio, formPredio, form:rede" styleClass="btn btn-primary" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-pencil"></span>
										</a4j:commandLink>

									</rich:column>
									<f:facet name="footer">
										<div style="text-align: center !important">
											<rich:dataScroller align="center" for="formPredio:itemsPredio" boundaryControls="auto" stepControls="auto" fastControls="auto" id="scResultadoPredio" />
										</div>
									</f:facet>
								</rich:dataTable>
							</div>
						</div>

						<div class="col-xs-12">
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{celulaRelControle.apresentarMensagemDetalhada and celulaRelControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{celulaRelControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{celulaRelControle.apresentarMensagem and celulaRelControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{celulaRelControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{celulaRelControle.apresentarMensagem and celulaRelControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{celulaRelControle.mensagem}" />
								</div>
							</h:panelGroup>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>
					</div>
				</div>
			</h:form>
		</div>

		<!-- 		MODAL PASTOR -->

		<div class="modal fade" id="modalPastor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
			<h:form id="formPastor">
				<div class="modal-dialog modal-medio" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Pastor</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-2 text-left">
									<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Consultar Por</label>
								</div>
								<div class="col-xs-2 text-left">
									<h:selectOneMenu styleClass="form-control" value="#{celulaRelControle.campoConsultaPastor}">
										<f:selectItems value="#{celulaRelControle.listaSelectItemPastorVOs}" />
									</h:selectOneMenu>
								</div>
								<div class="col-xs-4 text-left">
									<h:inputText styleClass="form-control" value="#{celulaRelControle.valorConsultaPastor}" />
								</div>
								<div class="col-xs-1 text-left">
									<a4j:commandLink id="btnConsultarPastor" action="#{celulaRelControle.consultarPastor}" styleClass="btn btn-primary botoes" render="formPastor">
										<span class="glyphicon glyphicon-search"></span>  Consultar
									</a4j:commandLink>
								</div>
							</div>
						</div>

						<div style="margin-top: 20px;">
							<div class="col-xs-12">
								<rich:dataTable id="itemsPastor" value="#{celulaRelControle.listaConsultaPastorVOs}" rendered="#{not empty celulaRelControle.listaConsultaPastorVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="5" var="pastorItem">
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Código" />
										</f:facet>
										<a4j:commandLink action="#{celulaRelControle.selecionarPastor}" render="form:pastor, formPastor" oncomplete="$('#modalPastor').modal('hide');" styleClass="labelCampos" id="codigoCidade" value="#{pastorItem.codigo}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Nome" />
										</f:facet>
										<a4j:commandLink action="#{celulaRelControle.selecionarPastor}" oncomplete="$('#modalPastor').modal('hide');" render="form:pastor, formPastor" styleClass="labelCampos" id="nomePastor" value="#{pastorItem.pessoaVO.nome}" />
									</rich:column>

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Opções" />
										</f:facet>
										<a4j:commandLink id="btnEditarPastor" action="#{celulaRelControle.selecionarPastor}" oncomplete="$('#modalPastor').modal('hide');" render="form:pastor, formPastor" styleClass="btn btn-primary" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-pencil"></span>
										</a4j:commandLink>

									</rich:column>
									<f:facet name="footer">
										<div style="text-align: center !important">
											<rich:dataScroller align="center" for="formPastor:itemsPastor" boundaryControls="auto" stepControls="auto" fastControls="auto" id="scResultadoPastor" />
										</div>
									</f:facet>
								</rich:dataTable>
							</div>
						</div>

						<div class="col-xs-12">
							<h:panelGroup layout="block" rendered="#{celulaRelControle.apresentarMensagemDetalhada and celulaRelControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{celulaRelControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{celulaRelControle.apresentarMensagem and celulaRelControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{celulaRelControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{celulaRelControle.apresentarMensagem and celulaRelControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{celulaRelControle.mensagem}" />
								</div>
							</h:panelGroup>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>
					</div>
				</div>
			</h:form>
		</div>


		<!-- 		MODAL DISCIPULADOR -->

		<div class="modal fade" id="modalDiscipulador" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
			<h:form id="formDiscipulador">
				<div class="modal-dialog modal-medio" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Discipulador</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-2 text-left">
									<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Consultar Por</label>
								</div>
								<div class="col-xs-2 text-left">
									<h:selectOneMenu styleClass="form-control" value="#{celulaRelControle.campoConsultaDiscipulador}">
										<f:selectItems value="#{celulaRelControle.listaSelectItemDiscipuladorVOs}" />
									</h:selectOneMenu>
								</div>
								<div class="col-xs-4 text-left">
									<h:inputText styleClass="form-control" value="#{celulaRelControle.valorConsultaDiscipulador}" />
								</div>
								<div class="col-xs-1 text-left">
									<a4j:commandLink id="btnConsultarDiscipulador" action="#{celulaRelControle.consultarDiscipulador}" styleClass="btn btn-primary botoes" render="formDiscipulador">
										<span class="glyphicon glyphicon-search"></span>  Consultar
									</a4j:commandLink>
								</div>
							</div>
						</div>

						<div style="margin-top: 20px;">
							<div class="col-xs-12">
								<rich:dataTable id="itemsDiscipulador" value="#{celulaRelControle.listaConsultaDiscipuladorVOs}" rendered="#{not empty celulaRelControle.listaConsultaDiscipuladorVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="5" var="discipuladorItem">
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Código" />
										</f:facet>
										<a4j:commandLink action="#{celulaRelControle.selecionarDiscipulador}" render="form:discipulador, formDiscipulador" oncomplete="$('#modalDiscipulador').modal('hide');" styleClass="labelCampos" id="codigoCidade" value="#{discipuladorItem.codigo}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Nome" />
										</f:facet>
										<a4j:commandLink action="#{celulaRelControle.selecionarDiscipulador}" oncomplete="$('#modalDiscipulador').modal('hide');" render="form:discipulador, formDiscipulador" styleClass="labelCampos" id="nomeDiscipulador" value="#{discipuladorItem.pessoaVO.nome}" />
									</rich:column>

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Opções" />
										</f:facet>
										<a4j:commandLink id="btnEditarDiscipulador" action="#{celulaRelControle.selecionarDiscipulador}" oncomplete="$('#modalDiscipulador').modal('hide');" render="form:discipulador, formDiscipulador" styleClass="btn btn-primary" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-pencil"></span>
										</a4j:commandLink>

									</rich:column>
									<f:facet name="footer">
										<div style="text-align: center !important">
											<rich:dataScroller align="center" for="formDiscipulador:itemsDiscipulador" boundaryControls="auto" stepControls="auto" fastControls="auto" id="scResultadoDiscipulador" />
										</div>
									</f:facet>
								</rich:dataTable>
							</div>
						</div>

						<div class="col-xs-12">
							<h:panelGroup layout="block" rendered="#{celulaRelControle.apresentarMensagemDetalhada and celulaRelControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{celulaRelControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{celulaRelControle.apresentarMensagem and celulaRelControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{celulaRelControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{celulaRelControle.apresentarMensagem and celulaRelControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{celulaRelControle.mensagem}" />
								</div>
							</h:panelGroup>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>
					</div>
				</div>
			</h:form>
		</div>

		<!-- 		MODAL LÍDER -->

		<div class="modal fade" id="modalLider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
			<h:form id="formLider">
				<div class="modal-dialog modal-medio" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Lider</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-2 text-left">
									<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Consultar Por</label>
								</div>
								<div class="col-xs-2 text-left">
									<h:selectOneMenu styleClass="form-control" value="#{celulaRelControle.campoConsultaLider}">
										<f:selectItems value="#{celulaRelControle.listaSelectItemLiderVOs}" />
									</h:selectOneMenu>
								</div>
								<div class="col-xs-4 text-left">
									<h:inputText styleClass="form-control" value="#{celulaRelControle.valorConsultaLider}" />
								</div>
								<div class="col-xs-1 text-left">
									<a4j:commandLink id="btnConsultarLider" action="#{celulaRelControle.consultarLider}" styleClass="btn btn-primary botoes" render="formLider">
										<span class="glyphicon glyphicon-search"></span>  Consultar
									</a4j:commandLink>
								</div>
							</div>
						</div>

						<div style="margin-top: 20px;">
							<div class="col-xs-12">
								<rich:dataTable id="itemsLider" value="#{celulaRelControle.listaConsultaLiderVOs}" rendered="#{not empty celulaRelControle.listaConsultaLiderVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="5" var="liderItem">
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Código" />
										</f:facet>
										<a4j:commandLink action="#{celulaRelControle.selecionarLider}" render="form:lider, formLider" oncomplete="$('#modalLider').modal('hide');" styleClass="labelCampos" id="codigoLider" value="#{liderItem.codigo}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Nome" />
										</f:facet>
										<a4j:commandLink action="#{celulaRelControle.selecionarLider}" oncomplete="$('#modalLider').modal('hide');" render="form:lider, formLider" styleClass="labelCampos" id="nomeLider" value="#{liderItem.pessoaVO.nome}" />
									</rich:column>

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Opções" />
										</f:facet>
										<a4j:commandLink id="btnEditarLider" action="#{celulaRelControle.selecionarLider}" oncomplete="$('#modalLider').modal('hide');" render="form:lider, formLider" styleClass="btn btn-primary" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-pencil"></span>
										</a4j:commandLink>

									</rich:column>
									<f:facet name="footer">
										<div style="text-align: center !important">
											<rich:dataScroller align="center" for="formLider:itemsLider" boundaryControls="auto" stepControls="auto" fastControls="auto" id="scResultadoLider" />
										</div>
									</f:facet>
								</rich:dataTable>
							</div>
						</div>

						<div class="col-xs-12">
							<h:panelGroup layout="block" rendered="#{celulaRelControle.apresentarMensagemDetalhada and celulaRelControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{celulaRelControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{celulaRelControle.apresentarMensagem and celulaRelControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{celulaRelControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{celulaRelControle.apresentarMensagem and celulaRelControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{celulaRelControle.mensagem}" />
								</div>
							</h:panelGroup>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>


					</div>
				</div>
			</h:form>
		</div>


		<h:form id="form">

			<ui:include src="../topo.xhtml" />

			<div class="container-fluid">

				<div class="col-sm-2">
					<!-- menu navegação lateral -->
					<ui:include src="../menu.xhtml" />
					<!-- /.menu navegação lateral -->
				</div>

				<div class="col-xs-10 text-left backgroundPagina">
					<div class="text-left subtituloPagina">
						<span class="glyphicon glyphicon-home" style="position: relative; top: 10px; left: 5px;"></span>
						<h:outputText styleClass="tituloCamposTopo" value="Relatório da Célula" style="position:relative; top:7px; left:10px;" />
					</div>
					<div>
						<div class="col-xs-12">
							<h:outputText styleClass="tituloCampos" value="Prédio" />
						</div>
						<div class="col-xs-6" style="padding-right: 0px;">
							<h:inputText id="predio" styleClass="form-control" value="#{celulaRelControle.predioVO.nome}" />

						</div>
						<div class="col-xs-6">

							<h:commandLink id="btnModalPredio" styleClass="btn btn-primary botoesModal" style="position:relative; margin-right: 5px;">
								<a4j:ajax event="click" listener="#{celulaRelControle.limparDadosModalPredio}" oncomplete="$('#modalPredio').modal('show');" />
								<span class="glyphicon glyphicon-modal-window"></span>
							</h:commandLink>
							<a4j:commandLink id="limparPredio" action="#{celulaRelControle.limparPredio}" render="form:predio, form:rede" styleClass="btn btn-danger botoesModal">
								<span class="glyphicon glyphicon-remove"></span>
							</a4j:commandLink>

						</div>
						<div class="col-xs-12">
							<h:outputText styleClass="tituloCampos" value="Rede" />
						</div>
						<div class="col-xs-6" style="padding-right: 0px;">
							<h:selectOneMenu id="rede" styleClass="form-control" style="font-size: 11px; font-family:Tahoma;" value="#{celulaRelControle.redeVO.codigo}">
								<f:selectItems value="#{celulaRelControle.listaSelectItemRedeVOs}" />
								<a4j:ajax event="change" listener="#{celulaRelControle.montarListaSelectItemCelula}" render="celula"></a4j:ajax>
							</h:selectOneMenu>
						</div>
						<div class="col-xs-12">
							<h:outputText styleClass="tituloCampos" value="Célula" />
						</div>
						<div class="col-xs-6" style="padding-right: 0px;">
							<h:selectOneMenu id="celula" styleClass="form-control" style="font-size: 11px; font-family:Tahoma;" value="#{celulaRelControle.celulaVO.codigo}">
								<f:selectItems value="#{celulaRelControle.listaSelectItemCelulaVOs}" />
							</h:selectOneMenu>
						</div>

						<!-- 						PASTOR -->
						<div>
							<div class="col-xs-12">
								<h:outputText styleClass="tituloCampos" value="Pastor" />
							</div>
							<div class="col-xs-6" style="padding-right: 0px;">
								<h:inputText id="pastor" styleClass="form-control" value="#{celulaRelControle.pastorVO.pessoaVO.nome}" />
							</div>
							<div class="col-xs-6">
								<a4j:commandLink id="btnConsultarPastor" action="#{celulaRelControle.limparDadosModalPastor}" render="formPastor" oncomplete="$('#modalPastor').modal('show');" style="position:relative; margin-right: 5px;" styleClass="btn btn-primary botoesModal">
									<span class="glyphicon glyphicon-modal-window"></span>
								</a4j:commandLink>
								<a4j:commandLink id="limparPastor" action="#{celulaRelControle.limparPastor}" render="form:pastor" styleClass="btn btn-danger botoesModal">
									<span class="glyphicon glyphicon-remove"></span>
								</a4j:commandLink>
							</div>
							
						</div>
					</div>
					<!-- 					DISCIPULADOR -->
					<div>
						<div class="col-xs-12">
							<h:outputText styleClass="tituloCampos" value="Discipulador" />
						</div>
						<div class="col-xs-6" style="padding-right: 0px;">
							<h:inputText id="discipulador" styleClass="form-control" value="#{celulaRelControle.discipuladorVO.pessoaVO.nome}" />
						</div>
						<div class="col-xs-6">
							<a4j:commandLink id="btnConsultarDiscipulador" action="#{celulaRelControle.limparDadosModalDiscipulador}" render="formDiscipulador" oncomplete="$('#modalDiscipulador').modal('show');" style="position:relative; margin-right: 5px;" styleClass="btn btn-primary botoesModal">
								<span class="glyphicon glyphicon-modal-window"></span>
							</a4j:commandLink>
							<a4j:commandLink id="limparDiscipulador" action="#{celulaRelControle.limparDiscipulador}" render="form:discipulador" styleClass="btn btn-danger botoesModal">
								<span class="glyphicon glyphicon-remove"></span>
							</a4j:commandLink>
						</div>
						
					</div>
					

					<!-- 					LIDER -->

					<div>
						<div class="col-xs-12">
							<h:outputText styleClass="tituloCampos" value="Líder" />
						</div>
						<div class="col-xs-6" style="padding-right: 0px;">
							<h:inputText id="lider" styleClass="form-control" value="#{celulaRelControle.liderVO.pessoaVO.nome}" />
						</div>
						<div class="col-xs-6">

							<a4j:commandLink id="btnConsultarLider" action="#{celulaRelControle.limparDadosModalLider}" render="formLider" oncomplete="$('#modalLider').modal('show');" style="position:relative; margin-right: 5px;" styleClass="btn btn-primary botoesModal">
								<span class="glyphicon glyphicon-modal-window"></span>
							</a4j:commandLink>
							<a4j:commandLink id="limparLider" action="#{celulaRelControle.limparLider}" render="form:lider" styleClass="btn btn-danger botoesModal">
								<span class="glyphicon glyphicon-remove"></span>
							</a4j:commandLink>
						</div>
					</div>

					<div class="col-xs-12" style="margin-bottom: 30px;"></div>

					<div class="col-xs-12" style="position: relative; top: 0px;">
						<div class="botoesBackground">
							<h:commandLink id="btnNovo" action="#{celulaRelControle.novo}" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-new-window"></span>  Novo
							</h:commandLink>

							<h:commandLink id="btnGravar" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-floppy-disk"></span>  Gravar
								<a4j:ajax event="click" render="form" execute="@form" listener="#{celulaRelControle.persistir}" />
							</h:commandLink>

							<h:commandLink id="btnExcluir" action="#{celulaRelControle.excluir}" styleClass="btn btn-danger botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-exclamation-sign"></span>  Excluir
							</h:commandLink>

							<h:commandLink id="btnConsultar" action="#{celulaRelControle.irTelaConsulta}" styleClass="btn btn-primary botoes">
								<span class="glyphicon glyphicon-search"></span>  Consultar
							</h:commandLink>

						</div>
					</div>

					<div class="col-xs-12">
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{celulaRelControle.apresentarMensagemDetalhada and celulaRelControle.apresentarMensagemErro}">
							<div class="col-xs-12 alert alert-danger" role="alert">
								<h:outputText value="#{celulaRelControle.mensagemDetalhada}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{celulaRelControle.apresentarMensagem and celulaRelControle.apresentarMensagemAtencao}">
							<div class="col-xs-12 alert alert-warning" role="alert">
								<h:outputText value="#{celulaRelControle.mensagem}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{celulaRelControle.apresentarMensagem and celulaRelControle.apresentarMensagemSucesso}">
							<div class="col-xs-12 alert alert-success" role="alert">
								<h:outputText value="#{celulaRelControle.mensagem}" />
							</div>
						</h:panelGroup>
					</div>
				</div>
			</div>

		</h:form>



		<script src="../js/jquery-3.0.0.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/script.js"></script>
		<script src="../js/main.js"></script>

	</h:body>
</f:view>
</html>
