<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:otm="http://java.sun.com/jsf/composite/otm">

<h:head>
	<title>SCM</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />


</h:head>
<f:view>
	<h:body>
		<h:form>

			<ui:include src="topo.xhtml" />

			<div class="container-fluid">
				<div class="row-fluid">


					<div class="col-sm-2">
						<!-- menu navegação lateral -->
						<ui:include src="menu.xhtml" />
						<!-- /.menu navegação lateral -->
					</div>

					<div class="col-xs-10 text-left backgroundPagina">
						<div class="text-left subtituloPagina">
							<span class="glyphicon glyphicon-home" style="position: relative; top: 10px; left: 5px;"></span>
							<h:outputText styleClass="tituloCamposTopo" value="Conta Pagar" style="position:relative; top:7px; left:10px;" />
						</div>

						<div class="row">
							<div class="col-xs-2 text-left">
								<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Consultar Por</label>
							</div>
							<div class="col-xs-3 text-left">
								<h:selectOneMenu styleClass="camposObrigatoriosComboBox" value="#{contaPagarControle.campoConsulta}">
									<f:selectItems value="#{contaPagarControle.listaSelectItemVOs}" />
								</h:selectOneMenu>
							</div>
							<div class="col-xs-4 text-left">
								<h:inputText styleClass="form-control" value="#{contaPagarControle.valorConsulta}" />
							</div>
							<div class="col-xs-1 text-left">
								<h:commandLink id="btnConsultar" action="#{contaPagarControle.consultar}" styleClass="btn btn-primary botoes">
									<span class="glyphicon glyphicon-search"></span>  Consultar
								</h:commandLink>
							</div>
						</div>
						<div style="margin-top: 20px;">
							<div class="col-xs-12">
								<rich:dataTable id="items" value="#{contaPagarControle.listaConsultaVOs}" rendered="#{not empty contaPagarControle.listaConsultaVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="10" var="contaPagarItem">
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Código" />
										</f:facet>
										<h:commandLink action="#{contaPagarControle.editar}" styleClass="labelCampos" id="codigo" value="#{contaPagarItem.codigo}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Fornecedor" />
										</f:facet>
										<h:commandLink action="#{contaPagarControle.editar}" styleClass="labelCampos" id="fornecedor" value="#{contaPagarItem.fornecedorVO.nome}" />
									</rich:column>
									
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Situação" />
										</f:facet>
										<h:commandLink action="#{contaPagarControle.editar}" styleClass="labelCampos" id="situacao" value="#{contaPagarItem.situacao.valorApresentar}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Parcela" />
										</f:facet>
										<h:commandLink action="#{contaPagarControle.editar}" styleClass="labelCampos" id="parcela" value="#{contaPagarItem.parcela}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Data Vencimento" />
										</f:facet>
										<h:commandLink action="#{contaPagarControle.editar}" styleClass="labelCampos" id="dataVencimento" value="#{contaPagarItem.dataVencimento_Apresentar}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Valor" />
										</f:facet>
										<h:outputText styleClass="labelCampos" id="valor" value="#{contaPagarItem.valor}" >
											<f:converter converterId="FormatadorNumerico"></f:converter>
										</h:outputText>
										<f:facet name="footer">
											<h:outputText value="Valor Total: "  />
											<h:outputText value="#{contaPagarControle.valorTotalContaPagar}"  >
												<f:converter converterId="FormatadorNumerico" />
											</h:outputText>
										</f:facet>
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Opções" />
										</f:facet>
										<h:commandLink id="btnEditar" action="#{contaPagarControle.editar}" styleClass="btn btn-primary" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-pencil"></span>
										</h:commandLink>
										
										<h:panelGroup rendered="#{!contaPagarItem.pago}">
										<h:commandLink id="btnPagarContaPagar"  action="#{contaPagarControle.realizarPagamentoContaPagarTelaConsulta}" styleClass="btn btn-default" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-euro"></span>
											Pagar
										</h:commandLink>
										</h:panelGroup>
									</rich:column>
								</rich:dataTable>
							</div>
						</div>

						<div class="col-xs-12 botoesBackground">
							<h:commandLink id="btnNovo" action="#{contaPagarControle.novo}" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-new-window"></span>  Novo
								
							</h:commandLink>
						</div>
						<div class="col-xs-12">
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{contaPagarControle.apresentarMensagemDetalhada and contaPagarControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{contaPagarControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{contaPagarControle.apresentarMensagem and contaPagarControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{contaPagarControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{contaPagarControle.apresentarMensagem and contaPagarControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{contaPagarControle.mensagem}" />
								</div>
							</h:panelGroup>

						</div>

					</div>



				</div>
			</div>

		</h:form>

	</h:body>
</f:view>
</html>
