<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:otm="http://java.sun.com/jsf/composite/otm">

<h:head>
	<title>SCM</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />

</h:head>
<f:view>
	<h:body>

		<div class="modal fade" id="modalCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
			<h:form id="formCliente">
				<div class="modal-dialog modal-medio" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Cliente</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-2 text-left">
									<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Consultar Por</label>
								</div>
								<div class="col-xs-2 text-left">
									<h:selectOneMenu styleClass="camposComboBox" value="#{contaReceberControle.campoConsultaCliente}">
										<f:selectItems value="#{contaReceberControle.listaSelectItemClienteVOs}" />
									</h:selectOneMenu>
								</div>
								<div class="col-xs-4 text-left">
									<h:inputText styleClass="form-control" value="#{contaReceberControle.valorConsultaCliente}" />
								</div>
								<div class="col-xs-1 text-left">
									<a4j:commandLink id="btnConsultarCliente" action="#{contaReceberControle.consultarCliente}" styleClass="btn btn-primary botoes" render="formCliente">
										<span class="glyphicon glyphicon-search"></span>  Consultar
									</a4j:commandLink>
								</div>
							</div>
						</div>

						<div style="margin-top: 20px;">
							<div class="col-xs-12">
								<rich:dataTable id="itemsCliente" value="#{contaReceberControle.listaConsultaClienteVOs}" rendered="#{not empty contaReceberControle.listaConsultaClienteVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="5" var="clienteItem">

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Código" />
										</f:facet>
										<a4j:commandLink action="#{contaReceberControle.selecionarCliente}" render="form:cliente, formCliente" oncomplete="$('#modalCliente').modal('hide');" styleClass="labelCampos" id="codigoCliente" value="#{clienteItem.codigo}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Nome" />
										</f:facet>
										<a4j:commandLink action="#{contaReceberControle.selecionarCliente}" oncomplete="$('#modalCliente').modal('hide');" render="form:cliente, formCliente" styleClass="labelCampos" id="nomeCliente" value="#{clienteItem.pessoaVO.nome}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Cliente" />
										</f:facet>
										<a4j:commandLink action="#{contaReceberControle.selecionarCliente}" oncomplete="$('#modalCliente').modal('hide');" render="form:cliente, formCliente" styleClass="labelCampos" id="cpfCliente" value="#{clienteItem.pessoaVO.cpf}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Opções" />
										</f:facet>
										<a4j:commandLink id="btnEditar" action="#{contaReceberControle.selecionarCliente}" oncomplete="$('#modalCliente').modal('hide');" render="form:cliente, formCliente" styleClass="btn btn-primary" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-pencil"></span>
										</a4j:commandLink>

									</rich:column>
									<f:facet name="footer">
										<div style="text-align: center !important">
											<rich:dataScroller align="center" for="formCliente:itemsCliente" boundaryControls="auto" stepControls="auto" fastControls="auto" id="scResultadoCliente" />
										</div>
									</f:facet>
								</rich:dataTable>
							</div>
						</div>
						<div class="col-xs-12">
							<h:panelGroup layout="block" rendered="#{contaReceberControle.apresentarMensagemDetalhada and contaReceberControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{contaReceberControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{contaReceberControle.apresentarMensagem and contaReceberControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{contaReceberControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{contaReceberControle.apresentarMensagem and contaReceberControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{contaReceberControle.mensagem}" />
								</div>
							</h:panelGroup>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>


					</div>
				</div>
			</h:form>
		</div>

		<h:form id="form">

			<ui:include src="topo.xhtml" />

			<div class="container-fluid">

				<div class="col-sm-2">
					<!-- menu navegação lateral -->
					<ui:include src="menu.xhtml" />
					<!-- /.menu navegação lateral -->
				</div>

				<div class="col-xs-10 text-left backgroundPagina">
					<div class="text-left subtituloPagina">
						<span class="glyphicon glyphicon-home" style="position: relative; top: 10px; left: 5px;"></span>
						<h:outputText styleClass="tituloCamposTopo" value="Conta a Receber" style="position:relative; top:7px; left:10px;" />
					</div>
					<!-- 					MENU -->
					<!-- 					<ul class="nav nav-tabs" style="position: relative; top: 0px; bottom: 30px;"> -->
					<!-- 						<h:panelGroup rendered="true"> -->
					<!-- 							<li class="active"><a data-toggle="tab" class="tituloCampos" href="#abaDadosBasicos">Dados Básicos</a></li> -->
					<!-- 						</h:panelGroup> -->
					<!-- 					</ul> -->

					<div class="tab-content">
						<div id="abaDadosBasicos" class="tab-pane fade in active">
							<div>
								<div class="col-xs-2">
									<h:outputText styleClass="tituloCampos" value="Data Cadastro" />
									<rich:calendar id="dataCadastro" readonly="true" disabled="true" style="display:block;" oninputkeypress="return mascara(this.form, this.id, '99/99/9999', event);" onchanged="return renderData(this.id)" oninputchange="validarData(this.value,this.id)" enableManualInput="true" datePattern="dd/MM/yyyy" inputClass="camposDataObrigatorio" value="#{contaReceberControle.contaReceberVO.dataCadastro}" />
								</div>
								<div class="col-xs-2" >
									<h:outputText styleClass="tituloCampos" value="Nr. Nota Fiscal" />
									<h:inputText id="nrNotaFiscal" value="#{contaReceberControle.contaReceberVO.nrNotaFiscal}" styleClass="campos" size="14" />
								</div>
							</div>
							<div>
								<div class="col-xs-12">
									<h:outputText styleClass="tituloCampos" value="Cliente" />
								</div>
								<div class="col-xs-6" style="padding-right: 0px;">
									<h:inputText id="cliente" styleClass="camposObrigatoriosSomenteLeitura" readonly="true" value="#{contaReceberControle.contaReceberVO.clienteVO.pessoaVO.nome}" />
								</div>
								<div class="col-xs-6">
									<h:commandLink id="logoutButton" styleClass="btn btn-primary botoesModal" style="position:relative; margin-right: 5px;">
										<a4j:ajax event="click" render="formCliente" listener="#{contaReceberControle.limparDadosConsultaModalCliente}" oncomplete="$('#modalCliente').modal('show');" />
										<span class="glyphicon glyphicon-modal-window"></span>
									</h:commandLink>
									<a4j:commandLink id="limparCliente" action="#{contaReceberControle.limparCliente}" render="form:cliente" styleClass="btn btn-danger botoesModal">
										<span class="glyphicon glyphicon-remove"></span>
									</a4j:commandLink>
								</div>
							</div>

							<div>
								<div class="col-xs-12">
									<h:outputText styleClass="tituloCampos" value="Serviço" />
								</div>
								<div class="col-xs-6" style="padding-right: 0px;">
									<h:inputText id="servico" styleClass="campos" value="#{contaReceberControle.contaReceberVO.servico}" />
								</div>

							</div>

							<div class="col-xs-12">

								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Situação" />
									<h:inputText id="cpf" readonly="true" value="#{contaReceberControle.contaReceberVO.situacaoContaReceber.valorApresentar}" styleClass="camposObrigatoriosSomenteLeitura" size="14" maxlength="14" />
								</div>
								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Parcela" />
									<h:inputText id="parcela" styleClass="form-control" value="#{contaReceberControle.contaReceberVO.parcela}" />
								</div>
								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Data Vencimento" />
									<rich:calendar id="dataVencimento" style="display:block;" oninputkeypress="return mascara(this.form, this.id, '99/99/9999', event);" onchanged="return renderData(this.id)" oninputchange="validarData(this.value,this.id)" enableManualInput="true" datePattern="dd/MM/yyyy" inputClass="camposDataObrigatorio" value="#{contaReceberControle.contaReceberVO.dataVencimento}" />
								</div>
								<div class="col-xs-2">
									<h:outputText styleClass="tituloCampos" value="Data Competência" />
									<rich:calendar id="dataCompetencia" style="display:block;" oninputkeypress="return mascara(this.form, this.id, '99/99/9999', event);" onchanged="return renderData(this.id)" oninputchange="validarData(this.value,this.id)" enableManualInput="true" datePattern="dd/MM/yyyy" inputClass="camposDataObrigatorio" value="#{contaReceberControle.contaReceberVO.dataCompetencia}" />
								</div>

							</div>

							<div class="col-xs-12">

								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Valor" />
									<h:inputText id="valor" styleClass="camposObrigatorios" value="#{contaReceberControle.contaReceberVO.valor}">
										<a4j:ajax event="blur" execute="@form" render="valorTotal" listener="#{contaReceberControle.realizarCalculoValorTotal}"></a4j:ajax>
										<f:converter converterId="FormatadorNumerico" />
									</h:inputText>
								</div>
								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Valor Total" />
									<h:inputText id="valorTotal" readonly="true" styleClass="camposObrigatoriosSomenteLeitura" value="#{contaReceberControle.contaReceberVO.valorTotal}">
										<f:converter converterId="FormatadorNumerico" />
									</h:inputText>
								</div>

							</div>

							<div class="col-xs-12">
								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Tipo Desconto" />
									<h:selectOneMenu styleClass="camposObrigatoriosComboBox" value="#{contaReceberControle.contaReceberVO.tipoDesconto}">
										<f:selectItems value="#{contaReceberControle.listaSelectItemTipoDescontoVOs}" />
										<a4j:ajax event="blur" execute="@form" listener="#{contaReceberControle.realizarCalculoValorMulta}" render="valorTotal"></a4j:ajax>
									</h:selectOneMenu>
								</div>
								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Desconto" />
									<h:inputText id="desconto" styleClass="form-control" value="#{contaReceberControle.contaReceberVO.desconto}">
										<a4j:ajax event="blur" execute="@form" render="valorTotal" listener="#{contaReceberControle.realizarCalculoValorTotal}"></a4j:ajax>
										<f:converter converterId="FormatadorNumerico" />
									</h:inputText>
								</div>
								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Acréscimo" />
									<h:inputText id="acrescimo" styleClass="form-control" value="#{contaReceberControle.contaReceberVO.acrescimo}">
										<a4j:ajax event="blur" execute="@form" render="valorTotal" listener="#{contaReceberControle.realizarCalculoValorTotal}"></a4j:ajax>
										<f:converter converterId="FormatadorNumerico" />
									</h:inputText>
								</div>
							</div>

							<div class="col-xs-12">

								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Multa(%)" />
									<h:inputText id="multa" styleClass="form-control" value="#{contaReceberControle.contaReceberVO.multa}">
										<a4j:ajax event="blur" execute="@form" listener="#{contaReceberControle.realizarCalculoValorMulta}" render="valorMulta, valorTotal"></a4j:ajax>
										<f:converter converterId="FormatadorNumerico" />
									</h:inputText>
								</div>
								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Valor Multa(R$)" />
									<h:inputText id="valorMulta" readonly="true" styleClass="camposSomenteLeitura" value="#{contaReceberControle.contaReceberVO.valorMulta}">
										<f:converter converterId="FormatadorNumerico" />
									</h:inputText>
								</div>
								
								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Juro(%)" />
									<h:inputText id="juro" styleClass="form-control" value="#{contaReceberControle.contaReceberVO.juro}">
										<a4j:ajax event="blur" execute="@form" listener="#{contaReceberControle.realizarCalculoValorJuro}" render="valorJuro, valorTotal"></a4j:ajax>
										<f:converter converterId="FormatadorNumerico" />
									</h:inputText>
								</div>
								
								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Valor Juro(R$)" />
									<h:inputText id="valorJuro" readonly="true" styleClass="camposSomenteLeitura" value="#{contaReceberControle.contaReceberVO.valorJuro}">
										<f:converter converterId="FormatadorNumerico" />
									</h:inputText>
								</div>
							</div>


							<div class="col-xs-12">

								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Valor Recebido" />
									<h:inputText id="valorRecebido" readonly="true" styleClass="camposSomenteLeitura" value="#{contaReceberControle.contaReceberVO.valorRecebido}">
										<f:converter converterId="FormatadorNumerico" />
									</h:inputText>
								</div>
								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Data Recebimento" />
									<rich:calendar id="dataRecebimento" style="display:block;" oninputkeypress="return mascara(this.form, this.id, '99/99/9999', event);" onchanged="return renderData(this.id)" oninputchange="validarData(this.value,this.id)" enableManualInput="true" datePattern="dd/MM/yyyy" inputClass="form-control-data" value="#{contaReceberControle.contaReceberVO.dataRecebimento}" />
								</div>

							</div>
							<div>
								<div class="col-xs-12">
									<h:outputText styleClass="tituloCampos" value="Conta Corrente" />

								</div>
								<div class="col-xs-6">
									<h:selectOneMenu styleClass="camposComboBox" value="#{contaReceberControle.contaReceberVO.contaCorrenteVO.codigo}">
										<f:selectItems value="#{contaReceberControle.listaSelectItemContaCorrenteVOs}" />
									</h:selectOneMenu>
								</div>
							</div>

							<div>
								<div class="col-xs-12">
									<h:outputText styleClass="tituloCampos" value="Usuário" />
									<h:inputText readonly="true" styleClass="form-control input50Porcento" value="#{contaReceberControle.contaReceberVO.usuarioVO.pessoaVO.nome}" />
								</div>
							</div>

							<div>
								<div class="col-xs-12">
									<h:outputText styleClass="tituloCampos" value="Observação" />
									<h:inputTextarea rows="2" styleClass="form-control input50Porcento" value="#{contaReceberControle.contaReceberVO.observacao}" />
								</div>
							</div>

						</div>
					</div>

					<div class="col-xs-12" style="margin-bottom: 30px;"></div>

					<div class="col-xs-12" style="position: relative; top: 0px;">
						<div class="botoesBackground">
							<h:commandLink id="btnNovo" action="#{contaReceberControle.novo}" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-new-window"></span>  Novo
							</h:commandLink>

							<h:commandLink id="btnGravar" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-floppy-disk"></span>  Gravar
								<a4j:ajax event="click" render="form" execute="@form" listener="#{contaReceberControle.persistir}" />
							</h:commandLink>

							<h:commandLink id="btnExcluir" action="#{contaReceberControle.excluir}" styleClass="btn btn-danger botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-exclamation-sign"></span>  Excluir
							</h:commandLink>

							<h:commandLink id="btnConsultar" action="#{contaReceberControle.irTelaConsulta}" styleClass="btn btn-primary botoes">
								<span class="glyphicon glyphicon-search"></span>  Consultar
							</h:commandLink>

						</div>
					</div>

					<div class="col-xs-12">
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{contaReceberControle.apresentarMensagemDetalhada and contaReceberControle.apresentarMensagemErro}">
							<div class="col-xs-12 alert alert-danger" role="alert">
								<h:outputText value="#{contaReceberControle.mensagemDetalhada}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{contaReceberControle.apresentarMensagem and contaReceberControle.apresentarMensagemAtencao}">
							<div class="col-xs-12 alert alert-warning" role="alert">
								<h:outputText value="#{contaReceberControle.mensagem}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{contaReceberControle.apresentarMensagem and contaReceberControle.apresentarMensagemSucesso}">
							<div class="col-xs-12 alert alert-success" role="alert">
								<h:outputText value="#{contaReceberControle.mensagem}" />
							</div>
						</h:panelGroup>
					</div>
				</div>
			</div>

		</h:form>



	</h:body>
</f:view>
</html>
