<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:otm="http://java.sun.com/jsf/composite/otm">

<h:head>
	<title>SCM</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />


</h:head>
<f:view>
	<h:body>

		<h:form id="form">
			<ui:include src="topo.xhtml" />

			<div class="container-fluid">

				<div class="col-sm-2">
					<!-- menu navegação lateral -->
					<ui:include src="menu.xhtml" />
					<!-- /.menu navegação lateral -->
				</div>

				<div class="col-xs-10 text-left backgroundPagina">
					<div class="text-left subtituloPagina">
						<span class="glyphicon glyphicon-home" style="position: relative; top: 10px; left: 5px;"></span>
						<h:outputText styleClass="tituloCamposTopo" value="Conta Corrente" style="position:relative; top:7px; left:10px;" />
					</div>

					<div class="tab-content">
						<div class="tab-pane fade in active">
							<div>
								<div>
									<div class="col-xs-2">
										<h:outputText styleClass="tituloCampos" value="Conta Caixa" />
									</div>
									<div class="col-sm-1">
										<h:selectBooleanCheckbox style="position:relative; right: 127px; bottom: 10px;" styleClass="campos" value="#{contaCorrenteControle.contaCorrenteVO.contaCaixa}">
											<a4j:ajax event="click" execute="@this" render="form:descricaoContaCaixa, form:dadosContaCorrente" />
										</h:selectBooleanCheckbox>
									</div>
								</div>

								<h:panelGroup id="descricaoContaCaixa">
									<h:panelGroup rendered="#{contaCorrenteControle.contaCorrenteVO.contaCaixa}">
										<div class="col-xs-12">
											<div class="col-xs-5" style="padding-right: 0px; padding-left: 0px;">
												<h:outputText styleClass="tituloCampos" value="Descrição" />
												<h:inputText styleClass="camposObrigatorios" value="#{contaCorrenteControle.contaCorrenteVO.descricao}">
													<a4j:ajax event="blur" execute="@this" />
												</h:inputText>
											</div>
											<div class="col-xs-2" style="padding-right: 0px;">
												<h:outputText styleClass="tituloCampos" value="Saldo" />
												<h:inputText styleClass="camposSomenteLeitura" readonly="true" value="#{contaCorrenteControle.contaCorrenteVO.saldo}" >
													<f:converter converterId="FormatadorNumerico" />
												</h:inputText>
											</div>
										</div>

									</h:panelGroup>
								</h:panelGroup>

								<h:panelGroup id="dadosContaCorrente">
									<h:panelGroup rendered="#{!contaCorrenteControle.contaCorrenteVO.contaCaixa}">
										<div class="col-xs-12">
											<div class="col-xs-4" style="padding-right: 0px; padding-left: 0px;">
												<h:outputText styleClass="tituloCampos" value="Número" />
												<h:inputText maxlength="10" styleClass="camposObrigatorios" id="numero" value="#{contaCorrenteControle.contaCorrenteVO.numero}" />
											</div>
											<div class="col-xs-2" style="padding-right: 0px;">
												<h:outputText styleClass="tituloCampos" value="Dígito Conta" />
												<h:inputText styleClass="camposObrigatorios" value="#{contaCorrenteControle.contaCorrenteVO.digitoContaCorrente}" />
											</div>
										</div>

										<div class="col-xs-12">
											<div class="col-xs-2" style="padding-right: 0px; padding-left: 0px;">
												<h:outputText styleClass="tituloCampos" value="Agência" />
												<h:inputText id="agencia" styleClass="camposObrigatorios" value="#{contaCorrenteControle.contaCorrenteVO.agencia}" />
											</div>
											<div class="col-xs-2" style="padding-right: 0px;">
												<h:outputText styleClass="tituloCampos" value="Dígito Agência" />
												<h:inputText id="digitoAgencia" styleClass="camposObrigatorios" value="#{contaCorrenteControle.contaCorrenteVO.digitoAgencia}" />
											</div>
											<div class="col-xs-2" style="padding-right: 0px;">
												<h:outputText styleClass="tituloCampos" value="Saldo" />
												<h:inputText styleClass="camposSomenteLeitura" readonly="true" value="#{contaCorrenteControle.contaCorrenteVO.saldo}" />
											</div>
										</div>

										<div class="col-xs-12">

											<div class="col-xs-4" style="padding-right: 0px; padding-left: 0px;">
												<h:outputText styleClass="tituloCampos" value="Banco" />
												<h:inputText id="banco" styleClass="camposObrigatorios" value="#{contaCorrenteControle.contaCorrenteVO.banco}" />
											</div>
											<div class="col-xs-2" style="padding-right: 0px;">
												<h:outputText styleClass="tituloCampos" value="Nr.Banco" />
												<h:inputText id="nrBanco" styleClass="camposObrigatorios" value="#{contaCorrenteControle.contaCorrenteVO.nrBanco}" />
											</div>

										</div>


										<div class="col-xs-12">
											<div class="col-xs-2" style="padding-right: 0px; padding-left: 0px;">
												<h:outputText styleClass="tituloCampos" value="Carteira" />
												<h:inputText id="carteira" styleClass="form-control" value="#{contaCorrenteControle.contaCorrenteVO.carteira}" />
											</div>
											<div class="col-xs-2" style="padding-right: 0px;">
												<h:outputText styleClass="tituloCampos" value="Cedente" />
												<h:inputText id="cedente" maxlength="18" styleClass="form-control" value="#{contaCorrenteControle.contaCorrenteVO.cedente}" />
											</div>
											<div class="col-xs-2" style="padding-right: 0px;">
												<h:outputText styleClass="tituloCampos" value="Convênio" />
												<h:inputText id="convenio" maxlength="14" styleClass="form-control" value="#{contaCorrenteControle.contaCorrenteVO.convenio}" />
											</div>

										</div>

									</h:panelGroup>
								</h:panelGroup>



							</div>
						</div>

					</div>

					<div class="col-xs-12" style="margin-bottom: 30px;"></div>

					<div class="col-xs-12" style="position: relative; top: 0px;">
						<div class="botoesBackground">
							<h:commandLink id="btnNovo" action="#{contaCorrenteControle.novo}" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-new-window"></span>  Novo
							</h:commandLink>

							<h:commandLink id="btnGravar" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-floppy-disk"></span>  Gravar
								<a4j:ajax event="click" render="form" execute="@form" listener="#{contaCorrenteControle.persistir}" />
							</h:commandLink>

							<h:commandLink id="btnExcluir" action="#{contaCorrenteControle.excluir}" styleClass="btn btn-danger botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-exclamation-sign"></span>  Excluir
							</h:commandLink>

							<h:commandLink id="btnConsultar" action="#{contaCorrenteControle.irTelaConsulta}" styleClass="btn btn-primary botoes">
								<span class="glyphicon glyphicon-search"></span>  Consultar
							</h:commandLink>

						</div>
					</div>

					<div class="col-xs-12">
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{contaCorrenteControle.apresentarMensagemDetalhada and contaCorrenteControle.apresentarMensagemErro}">
							<div class="col-xs-12 alert alert-danger" role="alert">
								<h:outputText value="#{contaCorrenteControle.mensagemDetalhada}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{contaCorrenteControle.apresentarMensagem and contaCorrenteControle.apresentarMensagemAtencao}">
							<div class="col-xs-12 alert alert-warning" role="alert">
								<h:outputText value="#{contaCorrenteControle.mensagem}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{contaCorrenteControle.apresentarMensagem and contaCorrenteControle.apresentarMensagemSucesso}">
							<div class="col-xs-12 alert alert-success" role="alert">
								<h:outputText value="#{contaCorrenteControle.mensagem}" />
							</div>
						</h:panelGroup>
					</div>

				</div>
			</div>

		</h:form>


	</h:body>
</f:view>
</html>
