<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:otm="http://java.sun.com/jsf/composite/otm">

<h:head>
	<title>SCM</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />


</h:head>
<f:view>
	<h:body>


		<div class="modal fade" id="modalNovaCategoriaDespesa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
			<h:form id="formNovaCategoriaDespesa">
				<div class="modal-dialog modal-medio" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Categoria Despesa</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div>
									<div class="col-xs-12">
										<h:outputText styleClass="tituloCampos" value="Descrição" />
									</div>
									<div class="col-xs-7">
										<h:inputText styleClass="camposObrigatorios" value="#{contaPagarControle.categoriaDespesaVO.descricao}" />
									</div>
								</div>

								<div>
									<div class="col-xs-12">
										<h:outputText styleClass="tituloCampos" value="Categoria Despesa Principal" />
									</div>
									<div class="col-xs-7">
										<h:selectOneMenu styleClass="camposComboBox" value="#{contaPagarControle.categoriaDespesaVO.categoriaDespesaPrincipalVO.codigo}">
											<f:selectItems value="#{contaPagarControle.listaSelectItemCategoriaDespesaPrincipal}" />
										</h:selectOneMenu>
									</div>

								</div>
							</div>
						</div>

						<div class="col-xs-12">
							<h:panelGroup layout="block" rendered="#{contaPagarControle.apresentarMensagemDetalhada and contaPagarControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{contaPagarControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{contaPagarControle.apresentarMensagem and contaPagarControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{contaPagarControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{contaPagarControle.apresentarMensagem and contaPagarControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{contaPagarControle.mensagem}" />
								</div>
							</h:panelGroup>
						</div>
						<div class="modal-footer">
							<div class="col-xs-12 botoesBackground" style="padding-top: 20px; padding-bottom: 20px;">
								<a4j:commandLink id="btnPersistirCategoriaDespesa" action="#{contaPagarControle.persistirCategoriaDespesa}" oncomplete="$('#modalNovaCategoriaDespesa').modal('hide');" render=":form:categoriaDespesa" styleClass="btn btn-primary" style="margin-right:5px;">
									<span class="glyphicon glyphicon-floppy-disk"></span> 
												Gravar
									</a4j:commandLink>
							</div>
						</div>
					</div>
				</div>
			</h:form>
		</div>



		<div class="modal fade" id="modalFornecedor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
			<h:form id="formFornecedor">
				<div class="modal-dialog modal-medio" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Fornecedor</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-2 text-left">
									<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Consultar Por</label>
								</div>
								<div class="col-xs-2 text-left">
									<h:selectOneMenu styleClass="camposComboBox" value="#{contaPagarControle.campoConsultaFornecedor}">
										<f:selectItems value="#{contaPagarControle.listaSelectItemFornecedorVOs}" />
									</h:selectOneMenu>
								</div>
								<div class="col-xs-4 text-left">
									<h:inputText styleClass="form-control" value="#{contaPagarControle.valorConsultaFornecedor}" />
								</div>
								<div class="col-xs-2 text-left">
									<a4j:commandLink id="btnConsultarFornecedor" action="#{contaPagarControle.consultarFornecedor}" styleClass="btn btn-primary botoes" render="formFornecedor">
										<span class="glyphicon glyphicon-search"></span>  Consultar
									</a4j:commandLink>
								</div>
								<div class="col-xs-1 text-left">
									<h:commandLink id="logoutButton" styleClass="btn btn-default botoesModal">
										<a4j:ajax event="click" listener="#{contaPagarControle.inicializarDadosCadastroFornecedor}" render="formNovoFornecedor" oncomplete="$('#modalNovoFornecedor').modal('show');" />
										<span class="glyphicon glyphicon glyphicon-plus"></span>
										Novo
									</h:commandLink>
								</div>
							</div>
						</div>

						<div style="margin-top: 20px;">
							<div class="col-xs-12">
								<rich:dataTable id="itemsFornecedor" value="#{contaPagarControle.listaConsultaFornecedorVOs}" rendered="#{not empty contaPagarControle.listaConsultaFornecedorVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="5" var="fornecedorItem">

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Cód. Fornecedor" />
										</f:facet>
										<a4j:commandLink action="#{contaPagarControle.selecionarFornecedor}" oncomplete="$('#modalFornecedor').modal('hide');" render="form:fornecedor, formFornecedor" styleClass="labelCampos" id="codigoFornecedor" value="#{fornecedorItem.codigo}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Fornecedor" />
										</f:facet>
										<a4j:commandLink action="#{contaPagarControle.selecionarFornecedor}" oncomplete="$('#modalFornecedor').modal('hide');" render="form:fornecedor, formFornecedor" styleClass="labelCampos" id="nomeFornecedor" value="#{fornecedorItem.nome}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Opções" />
										</f:facet>
										<a4j:commandLink id="btnEditar" action="#{contaPagarControle.selecionarFornecedor}" oncomplete="$('#modalFornecedor').modal('hide');" render="form:fornecedor, formFornecedor" styleClass="btn btn-primary" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-pencil"></span>
										</a4j:commandLink>

									</rich:column>
									<f:facet name="footer">
										<div style="text-align: center !important">
											<rich:dataScroller align="center" for="formFornecedor:itemsFornecedor" boundaryControls="auto" stepControls="auto" fastControls="auto" id="scResultadoFornecedor" />
										</div>
									</f:facet>
								</rich:dataTable>
							</div>
						</div>
						<div class="col-xs-12">
							<h:panelGroup layout="block" rendered="#{contaPagarControle.apresentarMensagemDetalhada and contaPagarControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{contaPagarControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{contaPagarControle.apresentarMensagem and contaPagarControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{contaPagarControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{contaPagarControle.apresentarMensagem and contaPagarControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{contaPagarControle.mensagem}" />
								</div>
							</h:panelGroup>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>


					</div>
				</div>
			</h:form>

			<div class="modal fade" id="modalNovoFornecedor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
				<h:form id="formNovoFornecedor">
					<div class="modal-dialog modal-medio" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">Fornecedor</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div>
										<div class="col-xs-12">
											<h:outputText styleClass="tituloCampos" value="Nome" />
										</div>
										<div class="col-xs-6" style="padding-right: 0px;">
											<h:inputText styleClass="camposObrigatorios" value="#{contaPagarControle.fornecedorVO.nome}" />
										</div>
									</div>
									<div class="col-xs-12">

										<div class="col-xs-2" style="padding-left: 0px;">
											<h:outputText styleClass="tituloCampos" value="CNPJ" />
											<h:inputText id="cpf" value="#{contaPagarControle.fornecedorVO.cnpj}" styleClass="form-control" onkeypress="return mascara(this.form, 'form:cpf', '99.999.999/9999-99', event);" size="14" maxlength="18" />
										</div>
										<div class="col-xs-2" style="padding-right: 0px; padding-left: 0px;">
											<h:outputText styleClass="tituloCampos" value="Insc. Estadual" />
											<h:inputText styleClass="form-control" value="#{contaPagarControle.fornecedorVO.inscricaoEstadual}" size="10" maxlength="25" />
										</div>


									</div>
									<div class="col-xs-12">
										<div class="col-xs-2" style="padding-left: 0px;">
											<h:outputText styleClass="tituloCampos" value="CEP" />
											<h:inputText maxlength="10" styleClass="form-control" id="cep" onkeypress="return mascara(this.form, 'form:cep', '99.999-999', event);" value="#{contaPagarControle.fornecedorVO.cep}" />
										</div>
										<div class="col-xs-8" style="padding-left: 0px; padding-right: 0px;">
											<h:outputText styleClass="tituloCampos" value="Setor" />
											<h:inputText styleClass="form-control input50Porcento" value="#{contaPagarControle.fornecedorVO.bairro}" />
										</div>
									</div>
									<div class="col-xs-12">
										<h:outputText styleClass="tituloCampos" value="Endereço" />
										<h:inputText styleClass="form-control input50Porcento" value="#{contaPagarControle.fornecedorVO.endereco}" />
									</div>

									<div>
										<div class="col-xs-12">
											<h:outputText styleClass="tituloCampos" value="Complemento" />
											<h:inputText styleClass="form-control input50Porcento" value="#{contaPagarControle.fornecedorVO.complemento}" />
										</div>
									</div>
									<div>
										<div class="col-xs-12">
											<h:outputText styleClass="tituloCampos" value="Cidade" />
										</div>
										<div class="col-xs-6" style="padding-right: 0px;">
											<h:inputText id="cidade" styleClass="form-control" readonly="true" value="#{contaPagarControle.fornecedorVO.cidadeVO.nome}" />
										</div>
										<div class="col-xs-6">
											<h:commandLink id="logoutButton" styleClass="btn btn-primary botoesModal" style="position:relative; margin-right: 5px;">
												<a4j:ajax event="click" listener="#{contaPagarControle.limparDadosConsultaModalCidade}" oncomplete="$('#modalCidade').modal('show');" />
												<span class="glyphicon glyphicon-modal-window"></span>
											</h:commandLink>
											<a4j:commandLink id="limparCidade" action="#{contaPagarControle.limparCidade}" render="form:cidade" styleClass="btn btn-danger botoesModal">
												<span class="glyphicon glyphicon-remove"></span>
											</a4j:commandLink>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="col-xs-2" style="padding-right: 0px; padding-left: 0px;">
											<h:outputText styleClass="tituloCampos" value="Telefone 1" />
											<h:inputText id="telefone1" onkeypress="return mascara(this.form, 'form:telefone1', '(99)99999-9999', event);" styleClass="form-control" value="#{contaPagarControle.fornecedorVO.telefone1}" />
										</div>
										<div class="col-xs-2" style="padding-right: 0px;">
											<h:outputText styleClass="tituloCampos" value="Telefone 2" />
											<h:inputText id="telefone2" onkeypress="return mascara(this.form, 'form:telefone2', '(99)99999-9999', event);" styleClass="form-control" value="#{contaPagarControle.fornecedorVO.telefone2}" />
										</div>
									</div>
								</div>
							</div>

							<div class="col-xs-12">
								<h:panelGroup layout="block" rendered="#{contaPagarControle.apresentarMensagemDetalhada and contaPagarControle.apresentarMensagemErro}">
									<div class="col-xs-12 alert alert-danger" role="alert">
										<h:outputText value="#{contaPagarControle.mensagemDetalhada}" />
									</div>
								</h:panelGroup>
								<h:panelGroup layout="block" rendered="#{contaPagarControle.apresentarMensagem and contaPagarControle.apresentarMensagemAtencao}">
									<div class="col-xs-12 alert alert-warning" role="alert">
										<h:outputText value="#{contaPagarControle.mensagem}" />
									</div>
								</h:panelGroup>
								<h:panelGroup layout="block" rendered="#{contaPagarControle.apresentarMensagem and contaPagarControle.apresentarMensagemSucesso}">
									<div class="col-xs-12 alert alert-success" role="alert">
										<h:outputText value="#{contaPagarControle.mensagem}" />
									</div>
								</h:panelGroup>
							</div>
							<div class="modal-footer">
								<div class="col-xs-12 botoesBackground" style="padding-top: 20px; padding-bottom: 20px;">
									<a4j:commandLink id="btnPersistirFornecedor" action="#{contaPagarControle.persistirFornecedor}" oncomplete="$('#modalNovoFornecedor').modal('hide');" render=":formFornecedor" styleClass="btn btn-primary" style="margin-right:5px;">
										<span class="glyphicon glyphicon-floppy-disk"></span> 
												Gravar
									</a4j:commandLink>
								</div>
							</div>
						</div>
					</div>
				</h:form>

				<div class="modal fade" id="modalCidade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
					<h:form id="formCidade">
						<div class="modal-dialog modal-medio" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">Cidade</h4>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-xs-2 text-left">
											<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Consultar Por</label>
										</div>
										<div class="col-xs-2 text-left">
											<h:selectOneMenu styleClass="form-control" value="#{contaPagarControle.campoConsultaCidade}">
												<f:selectItems value="#{contaPagarControle.listaConsultaCidadeVOs}" />
											</h:selectOneMenu>
										</div>
										<div class="col-xs-4 text-left">
											<h:inputText styleClass="form-control" value="#{contaPagarControle.valorConsultaCidade}" />
										</div>
										<div class="col-xs-1 text-left">
											<a4j:commandLink id="btnConsultarCidade" action="#{contaPagarControle.consultarCidade}" styleClass="btn btn-primary botoes" render="formCidade">
												<span class="glyphicon glyphicon-search"></span>  Consultar
									</a4j:commandLink>
										</div>
									</div>
								</div>

								<div style="margin-top: 20px;">
									<div class="col-xs-12">
										<rich:dataTable id="itemsCidade" value="#{contaPagarControle.listaConsultaCidadeVOs}" rendered="#{not empty contaPagarControle.listaConsultaCidadeVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="5" var="cidadeItem">

											<rich:column style="text-align: center;">
												<f:facet name="header">
													<h:outputText value="Código" />
												</f:facet>
												<a4j:commandLink action="#{contaPagarControle.selecionarCidade}" render="formNovoFornecedor:cidade" oncomplete="$('#modalCidade').modal('hide');" styleClass="labelCampos" id="codigoCidade" value="#{cidadeItem.codigo}" />
											</rich:column>
											<rich:column style="text-align: center;">
												<f:facet name="header">
													<h:outputText value="Nome" />
												</f:facet>
												<a4j:commandLink action="#{contaPagarControle.selecionarCidade}" oncomplete="$('#modalCidade').modal('hide');" render="formNovoFornecedor:cidade" styleClass="labelCampos" id="nomeCidade" value="#{cidadeItem.nome}" />
											</rich:column>
											<rich:column style="text-align: center;">
												<f:facet name="header">
													<h:outputText value="Cidade" />
												</f:facet>
												<a4j:commandLink action="#{contaPagarControle.selecionarCidade}" oncomplete="$('#modalCidade').modal('hide');" render="formNovoFornecedor:cidade" styleClass="labelCampos" id="nomeEstado" value="#{cidadeItem.estado.nome}" />
											</rich:column>
											<rich:column style="text-align: center;">
												<f:facet name="header">
													<h:outputText value="Opções" />
												</f:facet>
												<a4j:commandLink id="btnEditar" action="#{contaPagarControle.selecionarCidade}" oncomplete="$('#modalCidade').modal('hide');" render="formNovoFornecedor:cidade" styleClass="btn btn-primary" style="margin-right:5px;">
													<span class="glyphicon glyphicon glyphicon-pencil"></span>
												</a4j:commandLink>

											</rich:column>
											<f:facet name="footer">
												<div style="text-align: center !important">
													<rich:dataScroller align="center" for="formCidade:itemsCidade" boundaryControls="auto" stepControls="auto" fastControls="auto" id="scResultadoCidade" />
												</div>
											</f:facet>
										</rich:dataTable>
									</div>
								</div>
								<div class="col-xs-12">
									<h:panelGroup layout="block" rendered="#{contaPagarControle.apresentarMensagemDetalhada and contaPagarControle.apresentarMensagemErro}">
										<div class="col-xs-12 alert alert-danger" role="alert">
											<h:outputText value="#{contaPagarControle.mensagemDetalhada}" />
										</div>
									</h:panelGroup>
									<h:panelGroup layout="block" rendered="#{contaPagarControle.apresentarMensagem and contaPagarControle.apresentarMensagemAtencao}">
										<div class="col-xs-12 alert alert-warning" role="alert">
											<h:outputText value="#{contaPagarControle.mensagem}" />
										</div>
									</h:panelGroup>
									<h:panelGroup layout="block" rendered="#{contaPagarControle.apresentarMensagem and contaPagarControle.apresentarMensagemSucesso}">
										<div class="col-xs-12 alert alert-success" role="alert">
											<h:outputText value="#{contaPagarControle.mensagem}" />
										</div>
									</h:panelGroup>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
								</div>


							</div>
						</div>
					</h:form>
				</div>

			</div>


		</div>


		<h:form id="form">
			<ui:include src="topo.xhtml" />

			<div class="container-fluid">

				<div class="col-sm-2">
					<!-- menu navegação lateral -->
					<ui:include src="menu.xhtml" />
					<!-- /.menu navegação lateral -->
				</div>

				<div class="col-xs-10 text-left backgroundPagina">
					<div class="text-left subtituloPagina">
						<span class="glyphicon glyphicon-home" style="position: relative; top: 10px; left: 5px;"></span>
						<h:outputText styleClass="tituloCamposTopo" value="Conta Pagar" style="position:relative; top:7px; left:10px;" />
					</div>

					<div class="tab-content">
						<div class="tab-pane fade in active">
							<div>

								<div>
									<div class="col-xs-12">
										<h:outputText styleClass="tituloCampos" value="Data Cadastro" />
									</div>
									<div class="col-xs-2">
										<rich:calendar id="data" readonly="true" disabled="true" style="display:block;" oninputkeypress="return mascara(this.form, this.id, '99/99/9999', event);" onchanged="return renderData(this.id)" oninputchange="validarData(this.value,this.id)" enableManualInput="true" datePattern="dd/MM/yyyy" inputClass="camposDataObrigatorio" value="#{contaPagarControle.contaPagarVO.data}" />
									</div>
								</div>

								<div>
									<div class="col-xs-12">
										<h:outputText styleClass="tituloCampos" value="Fornecedor" />
									</div>
									<div class="col-xs-7" style="padding-right: 0px;">
										<h:inputText id="fornecedor" styleClass="camposObrigatoriosSomenteLeitura" readonly="true" value="#{contaPagarControle.contaPagarVO.fornecedorVO.nome}" />
									</div>
									<div class="col-xs-4" style="padding-right: 0px;">
										<h:commandLink id="logoutButton" styleClass="btn btn-primary botoesModal" style="position:relative; margin-right: 5px;">
											<a4j:ajax event="click" render="formFornecedor" listener="#{contaPagarControle.limparDadosConsultaModalFornecedor}" oncomplete="$('#modalFornecedor').modal('show');" />
											<span class="glyphicon glyphicon-modal-window"></span>
										</h:commandLink>
										<a4j:commandLink id="limparFornecedor" action="#{contaPagarControle.limparFornecedor}" render="form:fornecedor" styleClass="btn btn-danger botoesModal">
											<span class="glyphicon glyphicon-remove"></span>
										</a4j:commandLink>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-2" style="padding-left: 0px;">
										<h:outputText styleClass="tituloCampos" value="Situação" />
										<h:inputText id="situacao" readonly="true" value="#{contaPagarControle.contaPagarVO.situacao.valorApresentar}" styleClass="camposObrigatoriosSomenteLeitura" size="14" />
									</div>
									<div class="col-xs-2" style="padding-left: 0px;">
										<h:outputText styleClass="tituloCampos" value="Parcela" />
										<h:inputText id="parcela" styleClass="campos" value="#{contaPagarControle.contaPagarVO.parcela}" />
									</div>
									<div class="col-xs-2" style="padding-left: 0px;">
										<h:outputText styleClass="tituloCampos" value="Data Vencimento" />
										<rich:calendar id="dataVencimento" style="display:block;" oninputkeypress="return mascara(this.form, this.id, '99/99/9999', event);" onchanged="return renderData(this.id)" oninputchange="validarData(this.value,this.id)" enableManualInput="true" datePattern="dd/MM/yyyy" inputClass="camposDataObrigatorio" value="#{contaPagarControle.contaPagarVO.dataVencimento}" />
									</div>
									<div class="col-xs-2">
										<h:outputText styleClass="tituloCampos" value="Data Competência" />
										<rich:calendar id="dataCompetencia" style="display:block;" oninputkeypress="return mascara(this.form, this.id, '99/99/9999', event);" onchanged="return renderData(this.id)" oninputchange="validarData(this.value,this.id)" enableManualInput="true" datePattern="dd/MM/yyyy" inputClass="camposData" value="#{contaPagarControle.contaPagarVO.dataCompetencia}" />
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-2" style="padding-left: 0px;">
										<h:outputText styleClass="tituloCampos" value="Valor" />
										<h:inputText id="valor" styleClass="camposObrigatorios" value="#{contaPagarControle.contaPagarVO.valor}">
											<a4j:ajax event="blur" execute="@form" render="valorTotal" listener="#{contaPagarControle.realizarCalculoValorTotal}"></a4j:ajax>
											<f:converter converterId="FormatadorNumerico" />
										</h:inputText>
									</div>
									<div class="col-xs-2" style="padding-left: 0px;">
										<h:outputText styleClass="tituloCampos" value="Valor Total" />
										<h:inputText id="valorTotal" readonly="true" styleClass="camposSomenteLeitura" value="#{contaPagarControle.contaPagarVO.valorTotalCalculado}">
											<f:converter converterId="FormatadorNumerico" />
										</h:inputText>
									</div>
									<div class="col-xs-2" style="padding-left: 0px;">
										<h:outputText styleClass="tituloCampos" value="Desconto(R$)" />
										<h:inputText id="desconto" styleClass="campos" value="#{contaPagarControle.contaPagarVO.desconto}">
											<a4j:ajax event="blur" execute="@form" render="valorTotal" listener="#{contaPagarControle.realizarCalculoValorTotal}"></a4j:ajax>
											<f:converter converterId="FormatadorNumerico" />
										</h:inputText>
									</div>
								</div>

								<div class="col-xs-12">
									<div class="col-xs-2" style="padding-left: 0px;">
										<h:outputText styleClass="tituloCampos" value="Multa(%)" />
										<h:inputText id="multa" styleClass="form-control" value="#{contaPagarControle.contaPagarVO.multa}">
											<a4j:ajax event="blur" execute="@form" listener="#{contaPagarControle.realizarCalculoValorMulta}" render="valorMulta, valorTotal"></a4j:ajax>
											<f:converter converterId="FormatadorNumerico" />
										</h:inputText>
									</div>
									<div class="col-xs-2" style="padding-left: 0px;">
										<h:outputText styleClass="tituloCampos" value="Valor Multa(R$)" />
										<h:inputText id="valorMulta" readonly="true" styleClass="camposSomenteLeitura" value="#{contaPagarControle.contaPagarVO.valorMulta}">
											<f:converter converterId="FormatadorNumerico" />
										</h:inputText>
									</div>
								</div>

								<div class="col-xs-12">
									<div class="col-xs-2" style="padding-left: 0px;">
										<h:outputText styleClass="tituloCampos" value="Juro(%)" />
										<h:inputText id="juro" styleClass="form-control" value="#{contaPagarControle.contaPagarVO.juro}">
											<a4j:ajax event="blur" execute="@form" listener="#{contaPagarControle.realizarCalculoValorJuro}" render="valorJuro, valorTotal"></a4j:ajax>
											<f:converter converterId="FormatadorNumerico" />
										</h:inputText>
									</div>
									<div class="col-xs-2" style="padding-left: 0px;">
										<h:outputText styleClass="tituloCampos" value="Valor Juro(R$)" />
										<h:inputText id="valorJuro" readonly="true" styleClass="camposSomenteLeitura" value="#{contaPagarControle.contaPagarVO.valorJuro}">
											<f:converter converterId="FormatadorNumerico" />
										</h:inputText>
									</div>
								</div>

								<div class="col-xs-12">
									<div class="col-xs-2" style="padding-left: 0px;">
										<h:outputText styleClass="tituloCampos" value="Nr. Documento" />
										<h:inputText id="nrDocumento" styleClass="campos" value="#{contaPagarControle.contaPagarVO.nrDocumento}" />
									</div>
									<div class="col-xs-6" style="padding-left: 0px;">
										<h:outputText styleClass="tituloCampos" value="Código Barra" />
										<h:inputText id="codigoBarra" styleClass="campos" value="#{contaPagarControle.contaPagarVO.codigoBarra}" />
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-8" style="padding-left: 0px;">
										<h:outputText styleClass="tituloCampos" value="Descrição" />
										<h:inputText id="descricao" styleClass="campos" value="#{contaPagarControle.contaPagarVO.descricao}" />
									</div>
								</div>
								<div class="col-xs-12">
									<div class="col-xs-8" style="padding-left: 0px;">
										<h:outputText styleClass="tituloCampos" value="Categoria de Despesa" />
									</div>
									<div class="col-xs-8" style="padding-left: 0px;">
										<h:selectOneMenu id="categoriaDespesa" styleClass="camposComboBox" value="#{contaPagarControle.contaPagarVO.categoriaDespesaVO.codigo}">
											<f:selectItems value="#{contaPagarControle.listaSelectItemCategoriaDespesaVOs}"></f:selectItems>
										</h:selectOneMenu>

									</div>
									<div class="col-xs-2" style="padding-left: 0px;">
										<h:commandLink action="#{contaPagarControle.montarListaSelectItemCategoriaDespesa}" styleClass="btn btn-default" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-refresh"></span>
										</h:commandLink>


										<h:commandLink styleClass="btn btn-default botoesModal">
											<a4j:ajax event="click" listener="#{contaPagarControle.inicializarDadosCadastroCategoriaDespesa}" render="formNovaCategoriaDespesa" oncomplete="$('#modalNovaCategoriaDespesa').modal('show');" />
											<span class="glyphicon glyphicon glyphicon-plus"></span>
												Novo
											</h:commandLink>


									</div>

								</div>

							</div>
						</div>

					</div>

					<div class="col-xs-12" style="margin-bottom: 30px;"></div>

					<div class="col-xs-12" style="position: relative; top: 0px;">
						<div class="botoesBackground">
							<h:commandLink id="btnNovo" action="#{contaPagarControle.novo}" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-new-window"></span>  Novo
							</h:commandLink>

							<h:commandLink id="btnGravar" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-floppy-disk"></span>  Gravar
								<a4j:ajax event="click" render="form" execute="@form" listener="#{contaPagarControle.persistir}" />
							</h:commandLink>
							<h:panelGroup rendered="#{!contaPagarControle.contaPagarVO.pago and contaPagarControle.contaPagarVO.codigo > 0 }">
								<h:commandLink id="btnPagarContaPagar" action="#{contaPagarControle.realizarPagamentoContaPagar}" styleClass="btn btn-default" style="margin-right:5px;">
									<span class="glyphicon glyphicon glyphicon-euro"></span>
											Pagar
								</h:commandLink>
							</h:panelGroup>

							<a4j:commandLink id="btnExcluir" onclick="return confirm('#{msg.msg_confirmacao_excluxao}');" action="#{contaPagarControle.excluir}" styleClass="btn btn-danger botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-exclamation-sign"></span>  Excluir
							</a4j:commandLink>

							<h:commandLink id="btnConsultar" action="#{contaPagarControle.irTelaConsulta}" styleClass="btn btn-primary botoes">
								<span class="glyphicon glyphicon-search"></span>  Consultar
							</h:commandLink>

						</div>
					</div>

					<div class="col-xs-12">
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{contaPagarControle.apresentarMensagemDetalhada and contaPagarControle.apresentarMensagemErro}">
							<div class="col-xs-12 alert alert-danger" role="alert">
								<h:outputText value="#{contaPagarControle.mensagemDetalhada}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{contaPagarControle.apresentarMensagem and contaPagarControle.apresentarMensagemAtencao}">
							<div class="col-xs-12 alert alert-warning" role="alert">
								<h:outputText value="#{contaPagarControle.mensagem}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{contaPagarControle.apresentarMensagem and contaPagarControle.apresentarMensagemSucesso}">
							<div class="col-xs-12 alert alert-success" role="alert">
								<h:outputText value="#{contaPagarControle.mensagem}" />
							</div>
						</h:panelGroup>
					</div>

				</div>
			</div>

		</h:form>


	</h:body>
</f:view>
</html>
