<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	 xmlns:otm="http://java.sun.com/jsf/composite/otm"
	 xmlns:a4j="http://richfaces.org/a4j"
	 xmlns:rich="http://richfaces.org/rich"
	template="Layout.xhtml">
	
	<ui:define name="content">
	<f:view>
	<h:body>

		<div class="modal fade" id="modalCidade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
			<h:form id="formCidade">
				<div class="modal-dialog modal-medio" role="document">
					<div class="modal-content">
						<div class="modal-header">
<!-- 							<button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
<!-- 								<span aria-hidden="true">&times;</span> -->
<!-- 							</button> -->
							<h4 class="modal-title" id="myModalLabel">Cidade</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-2 text-left">
									<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Consultar Por</label>
								</div>
								<div class="col-xs-2 text-left">
									<h:selectOneMenu styleClass="form-control" value="#{empresaControle.campoConsultaCidade}">
										<f:selectItems value="#{empresaControle.listaConsultaCidadeVOs}" />
									</h:selectOneMenu>
								</div>
								<div class="col-xs-4 text-left">
									<h:inputText styleClass="form-control" value="#{empresaControle.valorConsultaCidade}" />
								</div>
								<div class="col-xs-1 text-left">
									<a4j:commandLink id="btnConsultarCidade" action="#{empresaControle.consultarCidade}" styleClass="btn btn-primary botoes" render="formCidade">
										<span class="glyphicon glyphicon-search"></span>  Consultar
									</a4j:commandLink>
								</div>
							</div>
						</div>

						<div style="margin-top: 20px;">
							<div class="col-xs-12">
								<rich:dataTable id="itemsCidade" value="#{empresaControle.listaConsultaCidadeVOs}" rendered="#{not empty empresaControle.listaConsultaCidadeVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="5" var="cidadeItem">

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Código" />
										</f:facet>
										<a4j:commandLink action="#{empresaControle.selecionarCidade}" render="form:cidade, formCidade" oncomplete="$('#modalCidade').modal('hide');" styleClass="labelCampos" id="codigoCidade" value="#{cidadeItem.codigo}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Nome" />
										</f:facet>
										<a4j:commandLink action="#{empresaControle.selecionarCidade}" oncomplete="$('#modalCidade').modal('hide');" render="form:cidade, formCidade" styleClass="labelCampos" id="nomeCidade" value="#{cidadeItem.nome}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Cidade" />
										</f:facet>
										<a4j:commandLink action="#{empresaControle.selecionarCidade}" oncomplete="$('#modalCidade').modal('hide');" render="form:cidade, formCidade" styleClass="labelCampos" id="nomeEstado" value="#{cidadeItem.estado.nome}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Opções" />
										</f:facet>
										<a4j:commandLink id="btnEditar" action="#{empresaControle.selecionarCidade}" oncomplete="$('#modalCidade').modal('hide');" render="form:cidade, formCidade" styleClass="btn btn-primary" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-pencil"></span>
										</a4j:commandLink>

									</rich:column>
									<f:facet name="footer">
										<div style="text-align: center !important">
											<rich:dataScroller align="center" for="formCidade:itemsCidade" boundaryControls="auto" stepControls="auto" fastControls="auto" id="scResultadoCidade" />
										</div>
									</f:facet>
								</rich:dataTable>
							</div>
						</div>
						<div class="col-xs-12">
							<h:panelGroup layout="block" rendered="#{empresaControle.apresentarMensagemDetalhada and empresaControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{empresaControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{empresaControle.apresentarMensagem and empresaControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{empresaControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{empresaControle.apresentarMensagem and empresaControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{empresaControle.mensagem}" />
								</div>
							</h:panelGroup>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>


					</div>
				</div>
			</h:form>
		</div>

		<h:form id="formEmpresaForm">


			<div class="container-fluid">


				<div class="col-xs-12 text-left backgroundPagina">
					<div class="text-left subtituloPagina">
						<span class="glyphicon glyphicon-home" style="position: relative; top: 10px; left: 5px;"></span>
						<h:outputText styleClass="tituloCamposTopo" value="Empresa" style="position:relative; top:7px; left:10px;" />
					</div>
					<!-- 					MENU -->
					

					<div class="tab-content">
						<div id="abaDadosBasicos" class="tab-pane fade in active">
							<div>
								<div class="col-xs-12">
									<h:outputText styleClass="tituloCampos" value="Nome" />
								</div>

								<div class="col-xs-6" style="padding-right: 0px;">
									<h:inputText styleClass="camposObrigatorios" value="#{empresaControle.empresaVO.descricao}" />
								</div>
							</div>
							<div>
								<div class="col-xs-12">
									<h:outputText styleClass="tituloCampos" value="Nome Fantasia" />
								</div>

								<div class="col-xs-6" style="padding-right: 0px;">
									<h:inputText styleClass="campos" value="#{empresaControle.empresaVO.nomeFantasia}" />
								</div>
							</div>
							<div class="col-xs-12">

								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="CNPJ" />
									<h:inputText id="cpf" value="#{empresaControle.empresaVO.cnpj}" styleClass="form-control" onkeypress="return mascara(this.form, 'form:cpf', '99.999.999/9999-99', event);" size="14" maxlength="18" />
								</div>
								<div class="col-xs-2" style="padding-right: 0px; padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Insc. Estadual" />
									<h:inputText styleClass="form-control" value="#{empresaControle.empresaVO.inscricaoEstadual}" size="10" maxlength="25" />
								</div>
							</div>
							<div class="col-xs-12">
								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="CEP" />
									<h:inputText maxlength="10" styleClass="form-control" id="cep" onkeypress="return mascara(this.form, 'form:cep', '99.999-999', event);" value="#{empresaControle.empresaVO.cep}" />
								</div>
								<div class="col-xs-8" style="padding-left: 0px; padding-right: 0px;">
									<h:outputText styleClass="tituloCampos" value="Setor" />
									<h:inputText styleClass="form-control input50Porcento" value="#{empresaControle.empresaVO.setor}" />
								</div>
							</div>
							<div class="col-xs-12">
								<h:outputText styleClass="tituloCampos" value="Endereço" />
								<h:inputText styleClass="form-control input50Porcento" value="#{empresaControle.empresaVO.endereco}" />
							</div>

							<div>
								<div class="col-xs-12">
									<h:outputText styleClass="tituloCampos" value="Complemento" />
									<h:inputText styleClass="form-control input50Porcento" value="#{empresaControle.empresaVO.complemento}" />
								</div>
							</div>
							<div>
								<div class="col-xs-12">
									<h:outputText styleClass="tituloCampos" value="Cidade" />
								</div>
								<div class="col-xs-6" style="padding-right: 0px;">
									<h:inputText id="cidade" styleClass="form-control" readonly="true" value="#{empresaControle.empresaVO.cidadeVO.nome}" />
								</div>
								<div class="col-xs-6">
									<h:commandLink id="logoutButton" styleClass="btn btn-primary botoesModal" style="position:relative; margin-right: 5px;">
										<a4j:ajax event="click" listener="#{empresaControle.limparDadosConsultaModalCidade}" oncomplete="$('#modalCidade').modal('show');" />
										<span class="glyphicon glyphicon-modal-window"></span>
									</h:commandLink>
									<a4j:commandLink id="limparCidade" action="#{empresaControle.limparCidade}" render="form:cidade" styleClass="btn btn-danger botoesModal">
										<span class="glyphicon glyphicon-remove"></span>
									</a4j:commandLink>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="col-xs-2" style="padding-right: 0px; padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Telefone 1" />
									<h:inputText id="telefone1" onkeypress="return mascara(this.form, 'form:telefone1', '(99)99999-9999', event);" styleClass="form-control" value="#{empresaControle.empresaVO.telefone1}" />
								</div>
								<div class="col-xs-2" style="padding-right: 0px;">
									<h:outputText styleClass="tituloCampos" value="Telefone 2" />
									<h:inputText id="telefone2" onkeypress="return mascara(this.form, 'form:telefone2', '(99)99999-9999', event);" styleClass="form-control" value="#{empresaControle.empresaVO.telefone2}" />
								</div>
							</div>
						</div>




					</div>

					<div class="col-xs-12" style="margin-bottom: 30px;"></div>

					<div class="col-xs-12" style="position: relative; top: 0px;">
						<div class="botoesBackground">
							<h:commandLink id="btnNovo" action="#{empresaControle.novo}" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-new-window"></span>  Novo
							</h:commandLink>

							<h:commandLink id="btnGravar" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-floppy-disk"></span>  Gravar
								<a4j:ajax event="click" render="form" execute="@form" listener="#{empresaControle.persistir}" />
							</h:commandLink>

							<h:commandLink id="btnExcluir" action="#{empresaControle.excluir}" styleClass="btn btn-danger botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-exclamation-sign"></span>  Excluir
							</h:commandLink>

							<h:commandLink id="btnConsultar" action="#{empresaControle.irTelaConsulta}" styleClass="btn btn-primary botoes">
								<span class="glyphicon glyphicon-search"></span>  Consultar
							</h:commandLink>

						</div>
					</div>

					<div class="col-xs-12">
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{empresaControle.apresentarMensagemDetalhada and empresaControle.apresentarMensagemErro}">
							<div class="col-xs-12 alert alert-danger" role="alert">
								<h:outputText value="#{empresaControle.mensagemDetalhada}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{empresaControle.apresentarMensagem and empresaControle.apresentarMensagemAtencao}">
							<div class="col-xs-12 alert alert-warning" role="alert">
								<h:outputText value="#{empresaControle.mensagem}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{empresaControle.apresentarMensagem and empresaControle.apresentarMensagemSucesso}">
							<div class="col-xs-12 alert alert-success" role="alert">
								<h:outputText value="#{empresaControle.mensagem}" />
							</div>
						</h:panelGroup>
					</div>
				</div>
			</div>

		</h:form>


	</h:body>
</f:view>
</ui:define>
</ui:composition>
