<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:otm="http://java.sun.com/jsf/composite/otm">

<h:head>
	<title>SCM</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />


</h:head>
<f:view>
	<h:body>

		<h:form id="form">
			<ui:include src="topo.xhtml" />

			<div class="container-fluid">

				<div class="col-sm-2">
					<!-- menu navegação lateral -->
					<ui:include src="menu.xhtml" />
					<!-- /.menu navegação lateral -->
				</div>

				<div class="col-xs-10 text-left backgroundPagina">
					<div class="text-left subtituloPagina">
						<span class="glyphicon glyphicon-home" style="position: relative; top: 10px; left: 5px;"></span>
						<h:outputText styleClass="tituloCamposTopo" value="Forma de Pagamento" style="position:relative; top:7px; left:10px;" />
					</div>

					<div class="tab-content">
						<div class="tab-pane fade in active">
							<div>

								<div class="col-xs-12">
									<h:outputText styleClass="tituloCampos" value="Código" />
								</div>
								<div class="col-xs-2">
									<h:inputText styleClass="camposObrigatorios" value="#{formaPagamentoControle.formaPagamentoVO.codigo}">
										<a4j:ajax event="blur" execute="@this" />
									</h:inputText>
								</div>
								<div class="col-xs-12">
									<h:outputText styleClass="tituloCampos" value="Nome" />
								</div>
								<div class="col-xs-7">
									<h:inputText styleClass="camposObrigatorios" value="#{formaPagamentoControle.formaPagamentoVO.nome}">
										<a4j:ajax event="blur" execute="@this" />
									</h:inputText>
								</div>
								<div class="col-xs-12">
									<h:outputText styleClass="tituloCampos" value="Tipo Forma de Pagamento" />
								</div>
								<div class="col-xs-7">
									<h:selectOneMenu styleClass="camposObrigatoriosComboBox" value="#{formaPagamentoControle.formaPagamentoVO.tipoFormaPagamento}">
										<a4j:ajax event="change" execute="@this" />
										<f:selectItems value="#{formaPagamentoControle.listaSelectItemFormaPagamentoVOs}"></f:selectItems>
									</h:selectOneMenu>
								</div>
							</div>
						</div>

					</div>

					<div class="col-xs-12" style="margin-bottom: 30px;"></div>

					<div class="col-xs-12" style="position: relative; top: 0px;">
						<div class="botoesBackground">
							<h:commandLink id="btnNovo" action="#{formaPagamentoControle.novo}" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-new-window"></span>  Novo
							</h:commandLink>

							<h:commandLink id="btnGravar" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-floppy-disk"></span>  Gravar
								<a4j:ajax event="click" render="form" execute="@form" listener="#{formaPagamentoControle.persistir}" />
							</h:commandLink>

							<h:commandLink id="btnExcluir" action="#{formaPagamentoControle.excluir}" styleClass="btn btn-danger botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-exclamation-sign"></span>  Excluir
							</h:commandLink>

							<h:commandLink id="btnConsultar" action="#{formaPagamentoControle.irTelaConsulta}" styleClass="btn btn-primary botoes">
								<span class="glyphicon glyphicon-search"></span>  Consultar
							</h:commandLink>

						</div>
					</div>

					<div class="col-xs-12">
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{formaPagamentoControle.apresentarMensagemDetalhada and formaPagamentoControle.apresentarMensagemErro}">
							<div class="col-xs-12 alert alert-danger" role="alert">
								<h:outputText value="#{formaPagamentoControle.mensagemDetalhada}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{formaPagamentoControle.apresentarMensagem and formaPagamentoControle.apresentarMensagemAtencao}">
							<div class="col-xs-12 alert alert-warning" role="alert">
								<h:outputText value="#{formaPagamentoControle.mensagem}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{formaPagamentoControle.apresentarMensagem and formaPagamentoControle.apresentarMensagemSucesso}">
							<div class="col-xs-12 alert alert-success" role="alert">
								<h:outputText value="#{formaPagamentoControle.mensagem}" />
							</div>
						</h:panelGroup>
					</div>

				</div>
			</div>

		</h:form>


	</h:body>
</f:view>
</html>
