<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	 xmlns:otm="http://java.sun.com/jsf/composite/otm"
	template="Layout.xhtml">
	
	<ui:define name="content">
		<h:form id="formHome">

					<div class="col-xs-10 text-left backgroundPagina">

						<h:panelGroup>

							<div id="graficoEvolucaoReceitaVsDespesa" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
							<script type="text/javascript" charset="UTF-8">
								$(function() {
									Highcharts
											.chart(
													'graficoEvolucaoReceitaVsDespesa',
													{
														title : {
															text : 'Receita X Despesa',
															x : -20
														//center
														},
														subtitle : {
															text : 'Gerenciador Financeiro',
															x : -20
														},
														xAxis : {
															categories : [
																	'Jan',
																	'Fev',
																	'Mar',
																	'Abr',
																	'Mai',
																	'Jun',
																	'Jul',
																	'Ago',
																	'Set',
																	'Out',
																	'Nov',
																	'Dez' ]
														},
														yAxis : {
															title : {
																text : 'Quantidade'
															},
															plotLines : [ {
																value : 0,
																width : 1,
																color : '#808080'
															} ]
														},
														tooltip : {
															valueSuffix : ''
														},
														legend : {
															layout : 'vertical',
															align : 'right',
															verticalAlign : 'middle',
															borderWidth : 0
														},
														series : [
																{
																	name : 'Conta Receber',
																	data : [
																			1500.0,
																			3000.9,
																			600.5,
																			15000.5,
																			300.2,
																			2500.5,
																			2000.2,
																			9500.5,
																			7800.3,
																			5000.3,
																			4000.9,
																			5500.6 ]
																},
																{
																	name : 'Conta a Pagar',
																	data : [
																			1000.0,
																			2500.8,
																			700.7,
																			10000.3,
																			600.0,
																			2000.0,
																			7000.8,
																			6000.1,
																			5000.1,
																			3000.1,
																			4500.6,
																			7000.5 ]
																}]
																
													});
								});
							</script>

						</h:panelGroup>

					</div>

		</h:form>

</ui:define>
</ui:composition>