<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:otm="http://java.sun.com/jsf/composite/otm" xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<title>SCM</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="utf-8" />

	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
	<link href="css/estilo.css" rel="stylesheet" media="screen"></link>
	<link href="css/painelLogin.css" rel="stylesheet" media="screen"></link>
	<!-- 	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" /> -->


</h:head>
<f:view>
	<h:body>
		<h:form>

			<div class="container-fluid">
				<div class="row-fluid">

					<div class="col-xs-12">

						<div class="form-login">
							<h4>Login</h4>

							<div class="col-xs-12 input-group">
								<h:inputText value="#{loginControle.userName}" pt:placeholder="Username" styleClass="form-control input-lg" id="userName" />
							</div>

							<div class="col-xs-12 input-group">
								<h:inputSecret value="#{loginControle.senha}" pt:placeholder="Senha" styleClass="form-control input-lg" id="senha" />
							</div>

							<a4j:commandLink id="btnConsultar" action="#{loginControle.logar}" styleClass="btn btn-info btn-lg btn-block">
								<span class="glyphicon glyphicon-ok"></span>  Acessar
								<a4j:ajax event="click" execute="@form" render="panelMensagens"></a4j:ajax>
							</a4j:commandLink>


						</div>

						<div style="width: 350px; margin-left: auto; margin-right: auto;">
							<h:panelGroup id="panelMensagens">
								<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{loginControle.apresentarMensagemDetalhada and loginControle.apresentarMensagemErro}">
									<div class="col-xs-12 alert alert-danger" role="alert">
										<h:outputText value="#{loginControle.mensagemDetalhada}" />
									</div>
								</h:panelGroup>
							</h:panelGroup>
						</div>
					</div>

				</div>
			</div>
		</h:form>
		<script src="js/jquery-3.0.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/script.js"></script>
		<script src="js/main.js"></script>

	</h:body>
</f:view>
</html>
