<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</f:facet>

	<title>SCM</title>
	
		<link href="css/custom.css" rel="stylesheet" media="screen"></link>
			<link href="css/layout.css" rel="stylesheet" media="screen"></link>
				<link href="css/components.css" rel="stylesheet" media="screen"></link>
				  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"></link> 
	 				<link href="css/estilo.css" rel="stylesheet" media="screen"></link> 
	 					<link href="css/painel.css" rel="stylesheet" media="screen"></link> 
	 					   <link href="css/font-awesome.css" rel="stylesheet" media="screen"></link> 
	 					      	<link href="css/zabuto_calendar.min.css" rel="stylesheet" media="screen"></link>
									<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
	 					      
</h:head>

<h:body>

	<header class="aw-topbar">
		<h:graphicImage value="imagens/logo5.png"  style="float: left;height: 50px;position: relative;left: 35px;top: -5px;"/>
		
		<a href="#" class="aw-toggle js-toggle"><i class="fa fa-bars" style="font-size: 21px;color:white;padding: 21px 5px 0px 0px;"></i></a>
	</header>
	
	<aside class="aw-sidebar  js-sidebar">
		<ui:include src="Menu2.xhtml" />
	</aside>
	
	<section class="aw-content  js-content">
		<ui:insert name="content" />
	</section>
	
	  <script src="js/jquery.js"></script> 
	<script src="js/app.js"></script>
	  <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.min.js"></script>

<script src="js/zabuto_calendar.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script> 
		 		<script src="js/bootstrap.min.js"></script> 
		 		<script src="js/script.js"></script>
		 		<script src="js/main.js"></script> 
	
</h:body>

</html>