<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:otm="http://java.sun.com/jsf/composite/otm">

<h:head>
	<title>SCM</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />

	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
	<link href="css/estilo.css" rel="stylesheet" media="screen"></link>
	<link href="css/painel.css" rel="stylesheet" media="screen"></link>
	<link href="css/dcaccordion.css" rel="stylesheet" media="screen"></link>
	<link href="css/skins/graphite.css" rel="stylesheet" type="text/css" />

</h:head>
<f:view>
	<h:body>
		<!-- 		<h:form id="formMenu" prependId="false"> -->

		<script type="text/javascript">
			$(document).ready(function($) {
				$('#accordion-1').dcAccordion({
					eventType : 'click',
					autoClose : true,
					saveState : true,
					disableLink : true,
					speed : 'fast',
					showCount : false,
					autoExpand : false,
					cookie : 'dcjq-accordion-1',
					classExpand : 'dcjq-current-parent'
				});
			});
			
		</script>
		

		<div class="graphite demo-container">
			<ul class="accordion" id="accordion-1">

				<h:panelGroup>
					<li class="dcjq-current-parent"><a href="#"><span>Agenda</span></a>
						<ul>
							<h:panelGroup>
								<li id="Administrativo" class="dcjq-current-parent"><a href="#Administrativo" class="subitemmenu"><span>Administrativo</span></a>
									<ul class="sub-menu">
										<a4j:commandLink styleClass="itemmenu" value="Horas" action="PacienteCons?faces-redirect=true" />
										<a4j:commandLink styleClass="itemmenu" value="Valor" action="valorHorasCons?faces-redirect=true" />
										
									</ul></li>
							</h:panelGroup>
							
							<h:panelGroup>
								<li id="Cadastro" class="dcjq-current-parent"><a href="#Cadastro" class="subitemmenu"><span>Cadastro</span></a>
									<ul class="sub-menu">
										<a4j:commandLink styleClass="itemmenu" value="País" />
										<a4j:commandLink styleClass="itemmenu" value="Estado" />
										<a4j:commandLink styleClass="itemmenu" value="Cidade" />

									</ul></li>
							</h:panelGroup>
							
						</ul></li>
				</h:panelGroup>
				
				
				
				
				
				<h:panelGroup>
					<li class="dcjq-current-parent"><a href="#"><span>Básico</span></a>
						<ul>
							<h:panelGroup>
								<li id="Administrativo" class="dcjq-current-parent"><a href="#Administrativo" class="subitemmenu"><span>Administrativo</span></a>
									<ul class="sub-menu">
										<a4j:commandLink styleClass="itemmenu" value="Cliente" action="clienteCons?faces-redirect=true" />
										<a4j:commandLink styleClass="itemmenu" value="Empresa" action="empresaCons?faces-redirect=true" />
										<a4j:commandLink styleClass="itemmenu" value="Fornecedor" action="fornecedorCons?faces-redirect=true" />
										<a4j:commandLink styleClass="itemmenu" value="Funcionario" action="funcionarioCons?faces-redirect=true" />
									</ul></li>
							</h:panelGroup>
							
							<h:panelGroup>
								<li id="Cadastro" class="dcjq-current-parent"><a href="#Cadastro" class="subitemmenu"><span>Cadastro</span></a>
									<ul class="sub-menu">
										<a4j:commandLink styleClass="itemmenu" value="País" />
										<a4j:commandLink styleClass="itemmenu" value="Estado" />
										<a4j:commandLink styleClass="itemmenu" value="Cidade" />

									</ul></li>
							</h:panelGroup>
							
						</ul></li>
				</h:panelGroup>

				<h:panelGroup>
					<li class="dcjq-current-parent"><a href="#"><span>Financeiro</span></a>
						<ul>
							<h:panelGroup>
								<li id="BancoContaCorrente" class="dcjq-current-parent"><a href="#BancoContaCorrente" class="subitemmenu"><span>Banco / Conta Corrente</span></a>
									<ul class="sub-menu">
										<a4j:commandLink styleClass="itemmenu" value="Forma de Pagamento" action="formaPagamentoCons?faces-redirect=true" />
										<a4j:commandLink styleClass="itemmenu" value="Conta Corrente" action="contaCorrenteCons?faces-redirect=true" />
									</ul></li>
							</h:panelGroup>
							<h:panelGroup>
								<li id="ContaReceber" class="dcjq-current-parent"><a href="#ContaReceber" class="subitemmenu"><span>Conta a Receber</span></a>
									<ul class="sub-menu">
										<a4j:commandLink styleClass="itemmenu" value="Conta a Receber" action="contaReceberCons?faces-redirect=true" />
									</ul></li>
							</h:panelGroup>
							<h:panelGroup>
								<li id="ContaPagar" class="dcjq-current-parent"><a href="#ContaPagar" class="subitemmenu"><span>Conta a Pagar</span></a>
									<ul class="sub-menu">
										<a4j:commandLink styleClass="itemmenu" value="Categoria Despesa" action="categoriaDespesaCons?faces-redirect=true" />
										<a4j:commandLink styleClass="itemmenu" value="Conta a Pagar" action="contaPagarCons?faces-redirect=true" />
										<a4j:commandLink styleClass="itemmenu" value="Pagamento" action="pagamentoCons?faces-redirect=true" />
									</ul></li>
							</h:panelGroup>
							<h:panelGroup>
								<li id="Caixa" class="dcjq-current-parent"><a href="#Caixa" class="subitemmenu"><span>Caixa</span></a>
									<ul class="sub-menu">
										<a4j:commandLink styleClass="itemmenu" value="Cheque" action="chequeCons?faces-redirect=true" />
										<a4j:commandLink styleClass="itemmenu" value="Caixa" action="movimentacaoCaixaCons?faces-redirect=true" />
									</ul></li>
							</h:panelGroup>
						</ul></li>
				</h:panelGroup>
				
				<h:panelGroup>
					<li class="dcjq-current-parent"><a href="#"><span>Relatório</span></a>
						<ul>
							<h:panelGroup>
								<li id="RelFinanceiro" class="dcjq-current-parent"><a href="#RelFinanceiro" class="subitemmenu"><span>Financeiro</span></a>
									<ul class="sub-menu">
<!-- 										<a4j:commandLink styleClass="itemmenu" value="Forma de Pagamento" action="formaPagamentoCons?faces-redirect=true" /> -->
									</ul></li>
							</h:panelGroup>
							
						</ul></li>
				</h:panelGroup>
				<h:panelGroup>
					<li class="dcjq-current-parent"><a href="#"><span>Usuário</span></a>
						<ul class="sub-menu">
										<a4j:commandLink styleClass="itemmenu" value="Perfil Usuário" action="perfilUsuarioCons?faces-redirect=true" />
										<a4j:commandLink styleClass="itemmenu" value="Usuário" action="usuarioCons?faces-redirect=true" />
									</ul></li>
				</h:panelGroup>
			</ul>

		</div>

		<!-- 				</div> -->
		<!-- 			</div> -->
		<script src="js/jquery.dcjqaccordion.2.7.min.js"></script>
		<script src="js/jquery.cookie.js"></script>
		<script src="js/jquery-3.0.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/script.js"></script>
		<script src="js/main.js"></script>

		<!-- 		</h:form> -->
	</h:body>
</f:view>
</html>
