<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
	
	<nav class="aw-menu">
		<ul>
			<li>
				<h:link outcome="home?faces-redirect=true"><i class="fa  fa-fw  fa-home"></i>Home</h:link>
			</li>
			<li>
				<h:link outcome="empresaCons?faces-redirect=true"><i class="fa  fa-fw  fa-user"></i>Empresa</h:link>
			</li>
			<li>
				<h:link outcome="pacienteCons?faces-redirect=true"><i class="fa  fa-fw fa-wheelchair"></i>Paciente</h:link>
			</li>
			<li >
				<h:link><i class="fa  fa-fw  fa-file-text"></i>Orçamentos</h:link>
			</li>
		
			<li>
				<h:link><i class="fa  fa-fw  fa-cog"></i>Configurações</h:link>
			</li>
		</ul>
	</nav>
	
</ui:composition>