<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:otm="http://java.sun.com/jsf/composite/otm">

<h:head>
	<title>SCM</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />


</h:head>
<f:view>
	<h:body>

		<h:form id="form">
			<ui:include src="topo.xhtml" />

			<div class="container-fluid">

				<div class="col-sm-2">
					<!-- menu navegação lateral -->
					<ui:include src="menu.xhtml" />
					<!-- /.menu navegação lateral -->
				</div>

				<div class="col-xs-10 text-left backgroundPagina">
					<div class="text-left subtituloPagina">
						<span class="glyphicon glyphicon-home" style="position: relative; top: 10px; left: 5px;"></span>
						<h:outputText styleClass="tituloCamposTopo" value="Caixa" style="position:relative; top:7px; left:10px;" />
					</div>


					<div>
						<div class="col-xs-12">
							<div class="col-xs-2" style="padding-left: 0px;">
								<h:outputText styleClass="tituloCampos" value="Código" />
								<h:inputText styleClass="camposSomenteLeituraObrigatorio" readonly="true" value="#{movimentacaoCaixaControle.movimentacaoCaixaVO.codigo}" />
							</div>
							<div class="col-xs-2" style="padding-left: 0px;">
								<h:outputText styleClass="tituloCampos" value="Data Abertura" />
								<h:inputText styleClass="camposSomenteLeituraObrigatorio" readonly="true" value="#{movimentacaoCaixaControle.movimentacaoCaixaVO.dataAbertura_Apresentar}" />
							</div>
						</div>
						<div class="col-xs-12">
							<div class="col-xs-5" style="padding-left: 0px;">
								<h:outputText styleClass="tituloCampos" value="Responsável Abertura" />
								<h:inputText styleClass="camposSomenteLeituraObrigatorio" readonly="true" value="#{movimentacaoCaixaControle.movimentacaoCaixaVO.responsavelAberturaVO.pessoaVO.nome}" />
							</div>
						</div>
						<div class="col-xs-12">
							<div class="col-xs-5" style="padding-left: 0px;">
								<h:outputText styleClass="tituloCampos" value="Empresa" />
								<h:selectOneMenu value="#{movimentacaoCaixaControle.movimentacaoCaixaVO.empresaVO.codigo}" styleClass="camposObrigatoriosComboBox">
									<f:selectItems value="#{movimentacaoCaixaControle.listaSelectItemEmpresaVOs}" />
								</h:selectOneMenu>
							</div>
						</div>
						
						<div class="col-xs-12">
							<div class="col-xs-5" style="padding-left: 0px;">
								<h:outputText styleClass="tituloCampos" value="Conta Caixa" />
								<h:selectOneMenu styleClass="camposObrigatoriosComboBox" value="#{movimentacaoCaixaControle.movimentacaoCaixaVO.contaCaixaVO.codigo}">
									<f:selectItems value="#{movimentacaoCaixaControle.listaSelectItemContaCaixaVOs}" />
									<a4j:ajax event="change" render="form:saldoInicialDinheiro, form:saldoFinalDinheiro, form:saldoInicialCheque, form:saldoFinalCheque" listener="#{movimentacaoCaixaControle.atualizarDadosSaldoInicial}"></a4j:ajax>
								</h:selectOneMenu>

							</div>
						</div>
						<div class="col-xs-12">
							<div class="col-xs-2" style="padding-left: 0px;">
								<h:outputText styleClass="tituloCampos" value="Saldo Inicial Dinheiro" />
								<h:inputText id="saldoInicialDinheiro" styleClass="camposSomenteLeitura" readonly="true" value="#{movimentacaoCaixaControle.movimentacaoCaixaVO.saldoInicialDinheiro}">
									<f:converter converterId="FormatadorNumerico" />
								</h:inputText>
							</div>
							<div class="col-xs-2" style="padding-left: 0px;">
								<h:outputText styleClass="tituloCampos" value="Saldo Final Dinheiro" />
								<h:inputText id="saldoFinalDinheiro" styleClass="camposSomenteLeitura" readonly="true" value="#{movimentacaoCaixaControle.movimentacaoCaixaVO.saldoFinalDinheiro}">
									<f:converter converterId="FormatadorNumerico" />
								</h:inputText>
							</div>
						</div>

						<div class="col-xs-12">
							<div class="col-xs-2" style="padding-left: 0px;">
								<h:outputText styleClass="tituloCampos" value="Saldo Inicial Cheque" />
								<h:inputText id="saldoInicialCheque" styleClass="camposSomenteLeitura" readonly="true" value="#{movimentacaoCaixaControle.movimentacaoCaixaVO.saldoInicialCheque}">
									<f:converter converterId="FormatadorNumerico" />
								</h:inputText>
							</div>
							<div class="col-xs-2" style="padding-left: 0px;">
								<h:outputText styleClass="tituloCampos" value="Saldo Final Cheque" />
								<h:inputText id="saldoFinalCheque" styleClass="camposSomenteLeitura" readonly="true" value="#{movimentacaoCaixaControle.movimentacaoCaixaVO.saldoFinalCheque}">
									<f:converter converterId="FormatadorNumerico" />
								</h:inputText>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="col-xs-5" style="padding-left: 0px;">
								<h:outputText styleClass="tituloCampos" value="Situação Caixa" />
								<h:inputText id="situacaoCaixa" styleClass="camposSomenteLeituraObrigatorio" readonly="true" value="#{movimentacaoCaixaControle.movimentacaoCaixaVO.situacaoCaixa_Apresentar}">
								</h:inputText>
							</div>
						</div>

					</div>

					<div class="col-xs-12" style="margin-bottom: 30px;"></div>

					<div class="col-xs-12" style="position: relative; top: 0px;">
						<div class="botoesBackground">
							<h:commandLink id="btnNovo" action="#{movimentacaoCaixaControle.novo}" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-new-window"></span>  Novo
							</h:commandLink>

							<h:panelGroup id="btnAbrirCaixa">
								<h:panelGroup rendered="#{movimentacaoCaixaControle.apresentarBotaoAbrirCaixa}">
									<h:commandLink styleClass="btn btn-warning botoes" style="margin-right:5px;">
										<span class="glyphicon glyphicon-floppy-disk"></span>  Abrir
								<a4j:ajax event="click" render="form" execute="@form" listener="#{movimentacaoCaixaControle.realizarAberturaCaixa}" />
									</h:commandLink>
								</h:panelGroup>
							</h:panelGroup>

							<h:panelGroup id="btnFecharCaixa">
								<h:panelGroup rendered="#{movimentacaoCaixaControle.apresentarBotaoFecharCaixa}">
									<h:commandLink styleClass="btn btn-danger botoes" style="margin-right:5px;">
										<span class="glyphicon glyphicon-floppy-disk"></span>  Fechar
								<a4j:ajax event="click" render="form" execute="@form" listener="#{movimentacaoCaixaControle.realizarFechamentoCaixa}" />
									</h:commandLink>
								</h:panelGroup>
							</h:panelGroup>

							<h:commandLink id="btnConsultar" action="#{movimentacaoCaixaControle.irTelaConsulta}" styleClass="btn btn-primary botoes">
								<span class="glyphicon glyphicon-search"></span>  Consultar
							</h:commandLink>

						</div>
					</div>


					<h:panelGroup id="mensagens" layout="block">
						<div class="col-xs-12">
							<h:panelGroup layout="block" rendered="#{movimentacaoCaixaControle.apresentarMensagemDetalhada and movimentacaoCaixaControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{movimentacaoCaixaControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{movimentacaoCaixaControle.apresentarMensagem and movimentacaoCaixaControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{movimentacaoCaixaControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{movimentacaoCaixaControle.apresentarMensagem and movimentacaoCaixaControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{movimentacaoCaixaControle.mensagem}" />
								</div>
							</h:panelGroup>
						</div>
					</h:panelGroup>

				</div>
			</div>

		</h:form>


	</h:body>
</f:view>
</html>
