<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:otm="http://java.sun.com/jsf/composite/otm">

<h:head>
	<title>SCM</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />


</h:head>
<f:view>
	<h:body>
		<h:form>

			<ui:include src="topo.xhtml" />

			<div class="container-fluid">
				<div class="row-fluid">


					<div class="col-sm-2">
						<!-- menu navegação lateral -->
						<ui:include src="menu.xhtml" />
						<!-- /.menu navegação lateral -->
					</div>

					<div class="col-xs-10 text-left backgroundPagina">
						<div class="text-left subtituloPagina">
							<span class="glyphicon glyphicon-home" style="position: relative; top: 10px; left: 5px;"></span>
							<h:outputText styleClass="tituloCamposTopo" value="Caixa" style="position:relative; top:7px; left:10px;" />
						</div>

						<div class="row">
							<div class="col-xs-2 text-left">
								<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Consultar Por</label>
							</div>
							<div class="col-xs-3 text-left">
								<h:selectOneMenu styleClass="camposObrigatoriosComboBox" value="#{movimentacaoCaixaControle.campoConsulta}">
									<f:selectItems value="#{movimentacaoCaixaControle.listaSelectItemVOs}" />
									<a4j:ajax event="change" render="form:datas, form:valorConsulta" execute="@this" />
								</h:selectOneMenu>
							</div>

							<h:panelGroup id="datas">
								<h:panelGroup rendered="#{movimentacaoCaixaControle.apresentarDataInicioDataFim}">
									<div class="col-xs-2 text-left">
										<rich:calendar id="dataInicio" style="display:block;" oninputkeypress="return mascara(this.form, this.id, '99/99/9999', event);" onchanged="return renderData(this.id)" oninputchange="validarData(this.value,this.id)" enableManualInput="true" datePattern="dd/MM/yyyy" inputClass="camposDataObrigatorio" value="#{movimentacaoCaixaControle.dataInicio}" />
									</div>
									<div class="col-xs-1 text-left">
										<h:outputText value="Até" style="position:relative; top:10px; left: 0px;" styleClass="tituloCampos" />
									</div>
									<div class="col-xs-2 text-left">
										<rich:calendar id="dataFim" style="display:block; position:relative; left: -50px;" oninputkeypress="return mascara(this.form, this.id, '99/99/9999', event);" onchanged="return renderData(this.id)" oninputchange="validarData(this.value,this.id)" enableManualInput="true" datePattern="dd/MM/yyyy" inputClass="camposDataObrigatorio" value="#{movimentacaoCaixaControle.dataFim}" />
									</div>
								</h:panelGroup>
							</h:panelGroup>

							<h:panelGroup id="valorConsulta">
								<h:panelGroup rendered="#{!movimentacaoCaixaControle.apresentarDataInicioDataFim}">
									<div class="col-xs-4 text-left">
										<h:inputText styleClass="form-control" value="#{movimentacaoCaixaControle.valorConsulta}" />
									</div>
								</h:panelGroup>
							</h:panelGroup>

							<div class="col-xs-2 botoesBackground">
								<h:commandLink id="btnConsultar" action="#{movimentacaoCaixaControle.consultar}" styleClass="btn btn-primary botoes">
									<span class="glyphicon glyphicon-search"></span>  Consultar
								</h:commandLink>

							</div>

						</div>
						<div style="margin-top: 20px;">
							<div class="col-xs-12">
								<rich:dataTable id="items" value="#{movimentacaoCaixaControle.listaConsultaVOs}" rendered="#{not empty movimentacaoCaixaControle.listaConsultaVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="10" var="movimentacaoCaixaItens">

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Código" />
										</f:facet>
										<h:commandLink action="#{movimentacaoCaixaControle.editar}" styleClass="labelCampos" id="numero" value="#{movimentacaoCaixaItens.codigo}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Data Abertura" />
										</f:facet>
										<h:commandLink action="#{movimentacaoCaixaControle.editar}" styleClass="labelCampos" id="dataAbertura" value="#{movimentacaoCaixaItens.dataAbertura_Apresentar}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Responsável Abertura" />
										</f:facet>
										<h:commandLink action="#{movimentacaoCaixaControle.editar}" styleClass="labelCampos" id="responsavelAbertura" value="#{movimentacaoCaixaItens.responsavelAberturaVO.pessoaVO.nome}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Conta Caixa" />
										</f:facet>
										<h:commandLink action="#{movimentacaoCaixaControle.editar}" styleClass="labelCampos" id="contaCaixa" value="#{movimentacaoCaixaItens.contaCaixaVO.descricao}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Situação Caixa" />
										</f:facet>
										<h:commandLink action="#{movimentacaoCaixaControle.editar}" styleClass="labelCampos" id="situacaoCaixa" value="#{movimentacaoCaixaItens.situacaoCaixa.valorApresentar}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Opções" />
										</f:facet>
										<h:commandLink id="btnEditar" action="#{movimentacaoCaixaControle.editar}" styleClass="btn btn-primary" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-pencil"></span>
										</h:commandLink>

									</rich:column>
								</rich:dataTable>
							</div>
						</div>

						<div class="col-xs-12 botoesBackground">
							<h:commandLink id="btnNovo" action="#{movimentacaoCaixaControle.novo}" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-new-window"></span>  Novo
								
							</h:commandLink>
						</div>
						<div class="col-xs-12">
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{movimentacaoCaixaControle.apresentarMensagemDetalhada and movimentacaoCaixaControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{movimentacaoCaixaControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{movimentacaoCaixaControle.apresentarMensagem and movimentacaoCaixaControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{movimentacaoCaixaControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{movimentacaoCaixaControle.apresentarMensagem and movimentacaoCaixaControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{movimentacaoCaixaControle.mensagem}" />
								</div>
							</h:panelGroup>

						</div>

					</div>



				</div>
			</div>

		</h:form>

	</h:body>
</f:view>
</html>
