<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	 xmlns:otm="http://java.sun.com/jsf/composite/otm"
	 xmlns:rich="http://richfaces.org/rich"
	template="Layout.xhtml">
	
	<ui:define name="content">
	
<f:view>
	<h:body>
		<h:form id="formEmpresaCons">
			<div>
				<div class="row-fluid">

					<div class="col-xs-12 text-left backgroundPagina">
						<div class="text-left subtituloPagina">
							<span class="glyphicon glyphicon-home" style="position: relative; top: 10px; left: 5px;"></span>
							<h:outputText styleClass="tituloCamposTopo" value="Paciente" style="position:relative; top:7px; left:10px;" />
						</div>

						<div class="row">
							<div class="col-xs-2 text-left">
								<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Consultar Por</label>
							</div>
							<div class="col-xs-2 text-left">
								<h:selectOneMenu styleClass="camposObrigatoriosComboBox" value="#{pacienteControle.campoConsulta}">
									<f:selectItems value="#{pacienteControle.listaSelectItemVOs}" />
								</h:selectOneMenu>
							</div>
							<div class="col-xs-4 text-left">
								<h:inputText styleClass="form-control" value="#{pacienteControle.valorConsulta}" />
							</div>
							<div class="col-xs-1 text-left">
								<h:commandLink id="btnConsultar" action="#{pacienteControle.consultar}" styleClass="btn btn-primary botoes">
									<span class="glyphicon glyphicon-search"></span>  Consultar
								</h:commandLink>
							</div>
						</div>
						<div style="margin-top: 20px;">
							<div class="col-xs-12">
								<rich:dataTable id="items" value="#{pacienteControle.listaConsultaPacienteVOs}" rendered="#{not empty pacienteControle.listaConsultaPacienteVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="10" var="pacienteItem">

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Código" />
										</f:facet>
										<h:commandLink action="#{pacienteControle.editar}" styleClass="labelCampos" id="codigo" value="#{pacienteItem.codigo}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Nome" />
										</f:facet>
										<h:commandLink action="#{pacienteControle.editar}" styleClass="labelCampos" id="nome" value="#{pacienteItem.pessoa.nome}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="CNPJ" />
										</f:facet>
										<h:commandLink action="#{pacienteControle.editar}" styleClass="labelCampos" id="cnpj" value="#{pacienteItem.pessoa.cpf}"/>
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Opções" />
										</f:facet>
										<h:commandLink id="btnEditar" action="#{pacienteControle.editar}" styleClass="btn btn-primary" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-pencil"></span>
										</h:commandLink>

									</rich:column>
								</rich:dataTable>
							</div>
						</div>

						<div class="col-xs-12 botoesBackground">
							<h:commandLink id="btnNovo" action="#{pacienteControle.novo}" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-new-window"></span>  Novo
								
							</h:commandLink>
						</div>
						<div class="col-xs-12">
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{pacienteControle.apresentarMensagemDetalhada and pacienteControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{pacienteControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{pacienteControle.apresentarMensagem and pacienteControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{pacienteControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{pacienteControle.apresentarMensagem and pacienteControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{pacienteControle.mensagem}" />
								</div>
							</h:panelGroup>

						</div>

					</div>
				</div>
			</div>

		</h:form>
</h:body>
</f:view>
</ui:define>
</ui:composition>