<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:otm="http://java.sun.com/jsf/composite/otm">

<h:head>
	<title>SCM</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />


</h:head>
<f:view>
	<h:body>

		<div class="modal fade" id="modalCheque" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
			<h:form id="formCheque">
				<div class="modal-dialog modal-medio" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Cheque</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-1 text-left">
									<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Período</label>
								</div>
								<div class="col-xs-2 text-left">
									<rich:calendar style="display:block;" oninputkeypress="return mascara(this.form, this.id, '99/99/9999', event);" onchanged="return renderData(this.id)" oninputchange="validarData(this.value,this.id)" enableManualInput="true" datePattern="dd/MM/yyyy" inputClass="camposDataObrigatorio" value="#{pagamentoControle.dataInicioCheque}" />
								</div>
								<div class="col-xs-2 text-left">
									<rich:calendar style="display:block;" oninputkeypress="return mascara(this.form, this.id, '99/99/9999', event);" onchanged="return renderData(this.id)" oninputchange="validarData(this.value,this.id)" enableManualInput="true" datePattern="dd/MM/yyyy" inputClass="camposDataObrigatorio" value="#{pagamentoControle.dataFimCheque}" />

								</div>
								<div class="col-xs-4 text-left">
									<h:inputText styleClass="form-control" value="#{pagamentoControle.numeroCheque}" />
								</div>
								<div class="col-xs-2 text-left">
									<a4j:commandLink id="btnConsultarCheque" action="#{pagamentoControle.consultarCheque}" styleClass="btn btn-primary botoes" render="formCheque">
										<span class="glyphicon glyphicon-search"></span>  Consultar
									</a4j:commandLink>
								</div>
							</div>
						</div>

						<div style="margin-top: 20px;">
							<div class="col-xs-12">
								<rich:dataTable id="itemsCheque" value="#{pagamentoControle.listaConsultaChequeVOs}" rendered="#{not empty pagamentoControle.listaConsultaChequeVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="5" var="chequeItem">

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Código" />
										</f:facet>
										<h:outputText styleClass="tituloCampos" id="codigoCheque" value="#{chequeItem.codigo}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Titular Conta" />
										</f:facet>
										<h:outputText styleClass="tituloCampos" id="titularConta" value="#{chequeItem.titularConta}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Cliente" />
										</f:facet>
										<h:outputText styleClass="tituloCampos" id="cliente" value="#{chequeItem.clienteVO.pessoaVO.nome}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Banco" />
										</f:facet>
										<h:outputText styleClass="tituloCampos" id="bancoCheque" value="#{chequeItem.banco}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Agência" />
										</f:facet>
										<h:outputText styleClass="tituloCampos" id="agenciaCheque" value="#{chequeItem.agencia}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Conta Corrente" />
										</f:facet>
										<h:outputText styleClass="tituloCampos" id="contaCorrenteCheque" value="#{chequeItem.contaCorrente}" />
									</rich:column>

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Número" />
										</f:facet>
										<h:outputText styleClass="tituloCampos" id="numeroCheque" value="#{chequeItem.numero}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Data Vencimento" />
										</f:facet>
										<h:outputText styleClass="tituloCampos" id="dataVencimentoCheque" value="#{chequeItem.dataVencimento_Apresentar}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Valor" />
										</f:facet>
										<h:outputText styleClass="tituloCampos" id="valorCheque" value="#{chequeItem.valor}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Localização Cheque" />
										</f:facet>
										<h:outputText styleClass="tituloCampos" id="localizacaoCheque" value="#{chequeItem.localizacaoChequeApresentar}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Opções" />
										</f:facet>
										<a4j:commandLink id="btnCheque" action="#{pagamentoControle.selecionarChequeTerceiro}" oncomplete="$('#modalCheque').modal('hide');" render="formCheque, form:panelTotalizador" styleClass="btn btn-primary" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-pencil"></span>
										</a4j:commandLink>
									</rich:column>
									<f:facet name="footer">
										<div style="text-align: center !important">
											<rich:dataScroller align="center" for="formCheque:itemsCheque" boundaryControls="auto" stepControls="auto" fastControls="auto" id="scResultadoCheque" />
										</div>
									</f:facet>
								</rich:dataTable>
							</div>
						</div>
						<div class="col-xs-12">
							<h:panelGroup layout="block" rendered="#{pagamentoControle.apresentarMensagemDetalhada and pagamentoControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{pagamentoControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{pagamentoControle.apresentarMensagem and pagamentoControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{pagamentoControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{pagamentoControle.apresentarMensagem and pagamentoControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{pagamentoControle.mensagem}" />
								</div>
							</h:panelGroup>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>
					</div>
				</div>
			</h:form>
		</div>

		<div class="modal fade" id="modalContaPagar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" align="left">
			<h:form id="formContaPagar">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Conta a Pagar</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-2 text-left">
									<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Consultar Por</label>
								</div>
								<div class="col-xs-3 text-left">
									<h:selectOneMenu styleClass="camposComboBox" value="#{pagamentoControle.situacaoContaPagar}" style="width: 150px;">
										<f:selectItems value="#{pagamentoControle.listaSelectItemContaPagarVOs}" />
									</h:selectOneMenu>
								</div>
								<div class="col-xs-2 text-left">
									<a4j:commandLink action="#{pagamentoControle.consultarContaPagar}" styleClass="btn btn-primary botoes" render="formContaPagar">
										<span class="glyphicon glyphicon-search"></span>  Consultar
									</a4j:commandLink>
								</div>
							</div>
						</div>

						<div style="margin-top: 20px;">
							<div class="col-xs-12">
								<rich:dataTable id="itemsContaPagar" value="#{pagamentoControle.listaConsultaContaPagarVOs}" rendered="#{not empty pagamentoControle.listaConsultaContaPagarVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="5" var="contaPagarItem">

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Cód. Conta Pagar" />
										</f:facet>
										<h:outputText styleClass="labelCampos" value="#{contaPagarItem.codigo}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Fornecedor" />
										</f:facet>
										<h:outputText styleClass="labelCampos" value="#{contaPagarItem.fornecedorVO.nome}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Situação" />
										</f:facet>
										<h:outputText styleClass="labelCampos" value="#{contaPagarItem.situacao.valorApresentar}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Data de Vencimento" />
										</f:facet>
										<h:outputText styleClass="labelCampos" value="#{contaPagarItem.dataVencimento_Apresentar}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Valor" />
										</f:facet>
										<h:outputText styleClass="labelCampos" value="#{contaPagarItem.valor}">
											<f:converter converterId="FormatadorNumerico" />
										</h:outputText>
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Juro" />
										</f:facet>
										<h:outputText styleClass="labelCampos" value="#{contaPagarItem.juro}">
											<f:converter converterId="FormatadorNumerico" />
										</h:outputText>
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Multa" />
										</f:facet>
										<h:outputText styleClass="labelCampos" value="#{contaPagarItem.multa}">
											<f:converter converterId="FormatadorNumerico" />
										</h:outputText>
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Valor Total" />
										</f:facet>
										<h:outputText styleClass="labelCampos" value="#{contaPagarItem.valorTotalCalculado}">
											<f:converter converterId="FormatadorNumerico" />
										</h:outputText>
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Opções" />
										</f:facet>
										<a4j:commandLink action="#{pagamentoControle.adicionarContaPagarIndividual}" render="form:itemsContaPagarPagamento, formContaPagar, form:panelTotalizador" styleClass="btn btn-primary" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-plus"></span>
										</a4j:commandLink>

									</rich:column>
									<f:facet name="footer">
										<div style="text-align: center !important">
											<rich:dataScroller align="center" for="formContaPagar:itemsContaPagar" boundaryControls="auto" stepControls="auto" fastControls="auto" id="scResultadoContaPagar" />
										</div>
									</f:facet>
								</rich:dataTable>
							</div>
						</div>
						<div class="col-xs-12">
							<h:panelGroup layout="block" rendered="#{pagamentoControle.apresentarMensagemDetalhada and pagamentoControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{pagamentoControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{pagamentoControle.apresentarMensagem and pagamentoControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{pagamentoControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{pagamentoControle.apresentarMensagem and pagamentoControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{pagamentoControle.mensagem}" />
								</div>
							</h:panelGroup>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>


					</div>
				</div>
			</h:form>
		</div>

		<div class="modal fade" id="modalFornecedor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
			<h:form id="formFornecedor">
				<div class="modal-dialog modal-medio" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Fornecedor</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-2 text-left">
									<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Consultar Por</label>
								</div>
								<div class="col-xs-2 text-left">
									<h:selectOneMenu styleClass="camposComboBox" value="#{pagamentoControle.campoConsultaFornecedor}">
										<f:selectItems value="#{pagamentoControle.listaSelectItemFornecedorVOs}" />
									</h:selectOneMenu>
								</div>
								<div class="col-xs-4 text-left">
									<h:inputText styleClass="form-control" value="#{pagamentoControle.valorConsultaFornecedor}" />
								</div>
								<div class="col-xs-1 text-left">
									<a4j:commandLink id="btnConsultarFornecedor" action="#{pagamentoControle.consultarFornecedor}" styleClass="btn btn-primary botoes" render="formFornecedor">
										<span class="glyphicon glyphicon-search"></span>  Consultar
									</a4j:commandLink>
								</div>
							</div>
						</div>

						<div style="margin-top: 20px;">
							<div class="col-xs-12">
								<rich:dataTable id="itemsFornecedor" value="#{pagamentoControle.listaConsultaFornecedorVOs}" rendered="#{not empty pagamentoControle.listaConsultaFornecedorVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="5" var="fornecedorItem">

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Cód. Fornecedor" />
										</f:facet>
										<a4j:commandLink action="#{pagamentoControle.selecionarFornecedor}" oncomplete="$('#modalFornecedor').modal('hide'); $('#modalContaPagar').modal('show');" render="form:fornecedor, formFornecedor, formContaPagar" styleClass="labelCampos" id="codigoFornecedor" value="#{fornecedorItem.codigo}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Fornecedor" />
										</f:facet>
										<a4j:commandLink action="#{pagamentoControle.selecionarFornecedor}" oncomplete="$('#modalFornecedor').modal('hide'); $('#modalContaPagar').modal('show');" render="form:fornecedor, formFornecedor, formContaPagar" styleClass="labelCampos" id="nomeFornecedor" value="#{fornecedorItem.nome}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Opções" />
										</f:facet>
										<a4j:commandLink id="btnEditar" action="#{pagamentoControle.selecionarFornecedor}" oncomplete="$('#modalFornecedor').modal('hide'); $('#modalContaPagar').modal('show');" render="form:fornecedor, formFornecedor, formContaPagar" styleClass="btn btn-primary" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-pencil"></span>
										</a4j:commandLink>

									</rich:column>
									<f:facet name="footer">
										<div style="text-align: center !important">
											<rich:dataScroller align="center" for="formFornecedor:itemsFornecedor" boundaryControls="auto" stepControls="auto" fastControls="auto" id="scResultadoFornecedor" />
										</div>
									</f:facet>
								</rich:dataTable>
							</div>
						</div>
						<div class="col-xs-12">
							<h:panelGroup layout="block" rendered="#{pagamentoControle.apresentarMensagemDetalhada and pagamentoControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{pagamentoControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{pagamentoControle.apresentarMensagem and pagamentoControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{pagamentoControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{pagamentoControle.apresentarMensagem and pagamentoControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{pagamentoControle.mensagem}" />
								</div>
							</h:panelGroup>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>


					</div>
				</div>
			</h:form>
		</div>

		<h:form id="form">
			<ui:include src="topo.xhtml" />

			<div class="container-fluid">

				<div class="col-sm-2">
					<!-- menu navegação lateral -->
					<ui:include src="menu.xhtml" />
					<!-- /.menu navegação lateral -->
				</div>

				<div class="col-xs-10 text-left backgroundPagina">
					<div class="text-left subtituloPagina">
						<span class="glyphicon glyphicon-home" style="position: relative; top: 10px; left: 5px;"></span>
						<h:outputText styleClass="tituloCamposTopo" value="Pagamento" style="position:relative; top:7px; left:10px;" />
					</div>

					<div>
						<div class="col-xs-12">
							<div class="col-xs-1" style="padding-right: 0px; padding-left: 0px;">
								<h:outputText styleClass="tituloCampos" value="Código" />
								<h:inputText maxlength="10" styleClass="camposSomenteLeitura" readonly="true" id="codigo" value="#{pagamentoControle.pagamentoVO.codigo}" />
							</div>
							<div class="col-xs-2">
								<h:outputText styleClass="tituloCampos" value="Data Pagamento" />
								<rich:calendar style="display:block;" oninputkeypress="return mascara(this.form, this.id, '99/99/9999', event);" onchanged="return renderData(this.id)" oninputchange="validarData(this.value,this.id)" enableManualInput="true" datePattern="dd/MM/yyyy" inputClass="camposDataObrigatorio" value="#{pagamentoControle.pagamentoVO.dataPagamento}" />
							</div>
						</div>
						<div class="col-xs-12">
							<div class="col-xs-5" style="padding-right: 0px; padding-left: 0px;">
								<h:outputText styleClass="tituloCampos" value="Responsável" />
								<h:inputText styleClass="camposObrigatoriosSomenteLeitura" readonly="true" value="#{pagamentoControle.pagamentoVO.responsavelVO.pessoaVO.nome}" />
							</div>
						</div>
						<div class="col-xs-12">
							<div class="col-xs-5" style="padding-right: 0px; padding-left: 0px;">
								<h:outputText styleClass="tituloCampos" value="Empresa" />
								<h:selectOneMenu value="#{pagamentoControle.pagamentoVO.empresaVO.codigo}" styleClass="camposObrigatoriosComboBox">
									<f:selectItems value="#{pagamentoControle.listaSelectItemEmpresaVOs}" />
								</h:selectOneMenu>
							</div>
						</div>
						<div class="col-xs-12">
							<h:outputText styleClass="tituloCampos" value="Fornecedor" />
						</div>
						<div class="col-xs-5" style="padding-right: 0px;">
							<h:inputText id="fornecedor" styleClass="camposObrigatoriosSomenteLeitura" readonly="true" value="#{pagamentoControle.pagamentoVO.fornecedorVO.nome}" />
						</div>
						<div class="col-xs-4" style="padding-right: 0px;">
							<h:commandLink id="logoutButton" styleClass="btn btn-primary botoesModal" style="position:relative; margin-right: 5px;">
								<a4j:ajax event="click" render="formFornecedor" listener="#{pagamentoControle.limparDadosConsultaModalFornecedor}" oncomplete="$('#modalFornecedor').modal('show');" />
								<span class="glyphicon glyphicon-modal-window"></span>
							</h:commandLink>
							<a4j:commandLink id="limparFornecedor" action="#{pagamentoControle.limparFornecedor}" render="form:fornecedor" styleClass="btn btn-danger botoesModal">
								<span class="glyphicon glyphicon-remove"></span>
							</a4j:commandLink>
						</div>


					</div>

					<h:panelGrid columnClasses="colunaCentralizada" columns="1" width="100%">
						<h:panelGroup layout="block" style="text-align:center; width: 980px;">
							<h:outputText styleClass="tituloCamposCodigoBarra" style="color:red;" rendered="#{pagamentoControle.pagamentoVO.estornado}" value="Estornado" />
						</h:panelGroup>
					</h:panelGrid>



					<div class="col-xs-12" style="padding-top: 10px;">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" class="tituloCampos" href="#abaContaPagar">Contas a Pagar</a></li>
							<li><a data-toggle="tab" class="tituloCampos" href="#abaPagamento">Pagamentos</a></li>
						</ul>


						<div class="tab-content">
							<div id="abaContaPagar" class="tab-pane fade in active">

								<div class="col-xs-12 botoesBackground" style="padding-top: 20px; padding-bottom: 20px;">
									<h:panelGroup>
										<h:panelGroup rendered="#{!pagamentoControle.pagamentoVO.estornado}">
											<a4j:commandLink id="btnAdicionarContaPagar" oncomplete="$('#modalContaPagar').modal('show');" render=":formContaPagar" styleClass="btn btn-warning" style="margin-right:5px;">
												<span class="glyphicon glyphicon-plus"></span> 
												Adicionar Conta a Pagar
											</a4j:commandLink>
										</h:panelGroup>
									</h:panelGroup>
								</div>
								<h:panelGroup id="itemsContaPagarPagamento">
									<h:panelGroup>
										<div>
											<div class="col-xs-12">
												<rich:dataTable value="#{pagamentoControle.pagamentoVO.listaContaPagarPagamentoVOs}" rendered="#{not empty pagamentoControle.pagamentoVO.listaContaPagarPagamentoVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="5" var="contaPagarPagamentoItem">

													<rich:column style="text-align: center;">
														<f:facet name="header">
															<h:outputText value="Cód. Conta Pagar" />
														</f:facet>
														<h:outputText styleClass="labelCampos" value="#{contaPagarPagamentoItem.contaPagarVO.codigo}" />
													</rich:column>
													<rich:column style="text-align: center;">
														<f:facet name="header">
															<h:outputText value="Data Vencimento" />
														</f:facet>
														<h:outputText styleClass="labelCampos" value="#{contaPagarPagamentoItem.contaPagarVO.dataVencimento_Apresentar}" />
													</rich:column>
													<rich:column style="text-align: center;">
														<f:facet name="header">
															<h:outputText value="Valor" />
														</f:facet>
														<h:outputText styleClass="labelCampos" value="#{contaPagarPagamentoItem.contaPagarVO.valor}">
															<f:converter converterId="FormatadorNumerico" />
														</h:outputText>
													</rich:column>
													<rich:column style="text-align: center;">
														<f:facet name="header">
															<h:outputText value="Juro(%)" />
														</f:facet>
														<h:inputText styleClass="campos" value="#{contaPagarPagamentoItem.contaPagarVO.juro}">
															<a4j:ajax event="blur" render="form:itemsContaPagarPagamento, form:panelTotalizador" listener="#{pagamentoControle.calcularValorTotalContaPagar}" />
															<f:converter converterId="FormatadorNumerico" />
														</h:inputText>
													</rich:column>
													<rich:column style="text-align: center;">
														<f:facet name="header">
															<h:outputText value="Multa(%)" />
														</f:facet>
														<h:inputText styleClass="campos" value="#{contaPagarPagamentoItem.contaPagarVO.multa}">
															<a4j:ajax event="blur" render="form:itemsContaPagarPagamento, form:panelTotalizador" listener="#{pagamentoControle.calcularValorTotalContaPagar}" />
															<f:converter converterId="FormatadorNumerico" />
														</h:inputText>
													</rich:column>
													<rich:column style="text-align: center;">
														<f:facet name="header">
															<h:outputText value="Desconto(R$)" />
														</f:facet>
														<h:inputText styleClass="campos" value="#{contaPagarPagamentoItem.contaPagarVO.desconto}">
															<a4j:ajax event="blur" render="form:itemsContaPagarPagamento, form:panelTotalizador" listener="#{pagamentoControle.calcularValorTotalContaPagar}" />
															<f:converter converterId="FormatadorNumerico" />
														</h:inputText>
													</rich:column>
													<rich:column style="text-align: center;">
														<f:facet name="header">
															<h:outputText value="Valor a Pagar" />
														</f:facet>
														<h:outputText styleClass="labelCampos" value="#{contaPagarPagamentoItem.contaPagarVO.valorTotalCalculado}">
															<f:converter converterId="FormatadorNumerico" />
														</h:outputText>
													</rich:column>
													<rich:column style="text-align: center;">
														<f:facet name="header">
															<h:outputText value="Opções" />
														</f:facet>
														<a4j:commandLink action="#{pagamentoControle.removerContaPagarPagamento}" render="form:itemsContaPagarPagamento" styleClass="btn btn-danger" style="margin-right:5px;">
															<span class="glyphicon glyphicon glyphicon-remove"></span>
														</a4j:commandLink>
													</rich:column>
												</rich:dataTable>
											</div>
										</div>
									</h:panelGroup>
								</h:panelGroup>
							</div>
							<div id="abaPagamento" class="tab-pane fade" style="padding-top: 10px;">
								<div>
									<div class="col-xs-12">
										<h:outputText styleClass="tituloCampos" value="Forma de Pagamento" />
									</div>
									<div class="col-xs-12">
										<div class="col-xs-5" style="padding-right: 0px; padding-left: 0px; padding-bottom: 0px;">
											<h:selectOneMenu id="formaPagamento" styleClass="camposObrigatoriosComboBox" value="#{pagamentoControle.formaPagamentoPagamentoVO.formaPagamentoVO.codigo}">
												<a4j:ajax event="change" execute="@this" render="form:contaCorrente, form:chequeProprio, form:contaCaixa, form:dadosChequeProprio, form:valorFormaPagamentoPagamento, form:botaoAdicionarFormaPagamentoPagamento, form:botaoAdicionarChequeFormaPagamentoPagamento" listener="#{pagamentoControle.consultarFormaPagamento}" />
												<f:selectItems value="#{pagamentoControle.listaSelectItemFormaPagamentoVOs}" />
											</h:selectOneMenu>
										</div>
										<h:panelGroup id="chequeProprio">
											<h:panelGroup rendered="#{pagamentoControle.formaPagamentoPagamentoVO.formaPagamentoVO.isTipoCheque}">
												<div class="col-xs-3">
													<h:outputText styleClass="tituloCampos" value="Cheque Próprio" />
													<h:selectBooleanCheckbox style="position:relative; bottom:27px; right:5px;" value="#{pagamentoControle.formaPagamentoPagamentoVO.chequeVO.chequeProprio}" styleClass="campos">
														<a4j:ajax event="click" render="form:dadosChequeProprio, form:botaoAdicionarChequeFormaPagamentoPagamento, form:botaoAdicionarFormaPagamentoPagamento, form:valorFormaPagamentoPagamento"></a4j:ajax>
													</h:selectBooleanCheckbox>
												</div>
											</h:panelGroup>
										</h:panelGroup>
									</div>

									<h:panelGroup id="contaCorrente">
										<h:panelGroup rendered="#{pagamentoControle.isApresentarComboboxContaCorrente}">
											<div class="col-xs-12">
												<h:outputText styleClass="tituloCampos" value="Conta Corrente" />
											</div>
											<div class="col-xs-5" style="padding-right: 0px;">
												<h:selectOneMenu styleClass="camposObrigatoriosComboBox" value="#{pagamentoControle.formaPagamentoPagamentoVO.contaCorrenteVO.codigo}">
													<a4j:ajax event="change" execute="@this" render="form:contaCorrente" />
													<f:selectItems value="#{pagamentoControle.listaSelectItemContaCorrenteVOs}" />
												</h:selectOneMenu>
											</div>
										</h:panelGroup>
									</h:panelGroup>

									<h:panelGroup id="contaCaixa">
										<h:panelGroup rendered="#{pagamentoControle.isApresentarComboboxContaCaixa}">
											<div class="col-xs-12">
												<h:outputText styleClass="tituloCampos" value="Conta Caixa" />
											</div>
											<div class="col-xs-5" style="padding-right: 0px;">
												<h:selectOneMenu styleClass="camposObrigatoriosComboBox" value="#{pagamentoControle.pagamentoVO.contaCaixaVO.codigo}">
													<a4j:ajax event="change" execute="@this" render="form:contaCaixa" listener="#{pagamentoControle.consultarContaCaixa}" />
													<f:selectItems value="#{pagamentoControle.listaSelectItemContaCorrenteCaixaVOs}" />
												</h:selectOneMenu>
											</div>
										</h:panelGroup>
									</h:panelGroup>

									<h:panelGroup id="dadosChequeProprio">
										<h:panelGroup rendered="#{pagamentoControle.isPagamentoComChequeProprio}">
											<div class="col-xs-12">
												<div class="col-xs-2" style="padding-left: 0px; padding-right: 0px;">
													<h:outputText styleClass="tituloCampos" value="Número" />
													<h:inputText styleClass="camposObrigatorios" value="#{pagamentoControle.formaPagamentoPagamentoVO.chequeVO.numero}" />
												</div>
												<div class="col-xs-2" style="padding-right: 0px;">
													<h:outputText styleClass="tituloCampos" value="Data Vencimento" />
													<rich:calendar style="display:block;" oninputkeypress="return mascara(this.form, this.id, '99/99/9999', event);" onchanged="return renderData(this.id)" oninputchange="validarData(this.value,this.id)" enableManualInput="true" datePattern="dd/MM/yyyy" inputClass="camposDataObrigatorio" value="#{pagamentoControle.formaPagamentoPagamentoVO.chequeVO.dataVencimento}" />
												</div>
											</div>
										</h:panelGroup>
									</h:panelGroup>

									<h:panelGroup id="valorFormaPagamentoPagamento">
										<h:panelGroup rendered="#{pagamentoControle.apresentarBotaoAdicionarFormaPagamentoContaPagar}">
											<div class="col-xs-12">
												<h:outputText styleClass="tituloCampos" value="Valor" />
											</div>
											<div class="col-xs-2" style="padding-right: 0px;">
												<h:inputText styleClass="camposObrigatorios" value="#{pagamentoControle.formaPagamentoPagamentoVO.valor}">
													<f:converter converterId="FormatadorNumerico" />
												</h:inputText>
											</div>
										</h:panelGroup>
									</h:panelGroup>


									<h:panelGroup id="botaoAdicionarFormaPagamentoPagamento">
										<h:panelGroup rendered="#{pagamentoControle.apresentarBotaoAdicionarFormaPagamentoContaPagar and !pagamentoControle.pagamentoVO.estornado}">
											<div class="col-xs-12 botoesBackground" style="padding-top: 20px;">
												<a4j:commandLink id="btnAdicionarFormaPagamento" action="#{pagamentoControle.adicionarFormaPagamento}" render="form:formaPagamento, form:itemsFormaPagamentoPagamento, form:contaCorrente, form:chequeProprio, form:contaCaixa, form:dadosChequeProprio, form:valorFormaPagamentoPagamento, form:botaoAdicionarFormaPagamentoPagamento, form:botaoAdicionarChequeFormaPagamentoPagamento, form:mensagens, form:panelTotalizador" styleClass="btn btn-warning" style="margin-right:5px;">
													<span class="glyphicon glyphicon-plus"></span> 
													Adicionar
												</a4j:commandLink>
											</div>
										</h:panelGroup>
									</h:panelGroup>

									<h:panelGroup id="botaoAdicionarChequeFormaPagamentoPagamento">
										<h:panelGroup rendered="#{pagamentoControle.isPagamentoComChequeTerceiro and !pagamentoControle.pagamentoVO.estornado}">
											<div class="col-xs-12 botoesBackground" style="padding-top: 20px;">
												<a4j:commandLink id="btnAdicionarChequeTerceiro" action="#{pagamentoControle.inicializarDadosChequeTerceiro}" oncomplete="$('#modalCheque').modal('show');" render="formCheque, form:mensagens" styleClass="btn btn-warning" style="margin-right:5px;">
													<span class="glyphicon glyphicon-plus"></span> 
													Adicionar Cheque
												</a4j:commandLink>
											</div>
										</h:panelGroup>
									</h:panelGroup>

									<h:panelGroup id="itemsFormaPagamentoPagamento">
										<h:panelGroup rendered="#{not empty pagamentoControle.pagamentoVO.listaFormaPagamentoPagamentoVOs}">
											<div style="margin-top: 20px;">
												<div class="col-xs-12">
													<rich:dataTable value="#{pagamentoControle.pagamentoVO.listaFormaPagamentoPagamentoVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="5" var="formaPagamentoPagamentoItem">

														<rich:column style="text-align: center;">
															<f:facet name="header">
																<h:outputText value="Forma de Pagamento" />
															</f:facet>
															<h:outputText styleClass="labelCampos" value="#{formaPagamentoPagamentoItem.formaPagamentoVO.nome}" />
														</rich:column>
														<rich:column style="text-align: center;">
															<f:facet name="header">
																<h:outputText value="Dados Forma Pagamento" />
															</f:facet>
															<h:outputText styleClass="labelCampos" value="#{formaPagamentoPagamentoItem.contaCorrenteVO.descricaoApresentar}" rendered="#{!formaPagamentoPagamentoItem.formaPagamentoVO.isTipoDinheiro}" />
															<h:outputText styleClass="labelCampos" value="#{pagamentoControle.pagamentoVO.contaCaixaVO.descricaoApresentar}" rendered="#{formaPagamentoPagamentoItem.formaPagamentoVO.isTipoDinheiro}" />
														</rich:column>
														<rich:column style="text-align: center;">
															<f:facet name="header">
																<h:outputText value="Valor" />
															</f:facet>
															<h:outputText styleClass="labelCampos" value="#{formaPagamentoPagamentoItem.valor}">
																<f:converter converterId="FormatadorNumerico" />
															</h:outputText>
														</rich:column>

														<rich:column style="text-align: center;">
															<f:facet name="header">
																<h:outputText value="Opções" />
															</f:facet>
															<a4j:commandLink action="#{pagamentoControle.removerFormaPagamento}" render="form:itemsFormaPagamentoPagamento" styleClass="btn btn-danger" style="margin-right:5px;">
																<span class="glyphicon glyphicon glyphicon-remove"></span>
															</a4j:commandLink>
															<f:facet name="footer">
																<h:outputText value="#{pagamentoControle.pagamentoVO.valorTotalPagar}">
																	<f:converter converterId="FormatadorNumerico" />
																</h:outputText>
															</f:facet>

														</rich:column>
													</rich:dataTable>
												</div>
											</div>
										</h:panelGroup>
									</h:panelGroup>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="col-xs-12 backgroundForm">
									<div class="text-left headerForm">
										<span style="position: relative; left: 5px;"></span>
										<h:outputText styleClass="tituloForm" value="Totais" style="position:relative; left:10px;" />
									</div>
									<!-- 									<rich:panel header="Totais"> -->
									<h:panelGrid id="panelTotalizador" columnClasses="colunaCentralizada" columns="4" width="100%" style="padding-left: 10px;">

										<h:panelGroup style="width:100%; margin-left: 10px;">
											<h:outputText styleClass="tituloCamposNegrito" value="Valor Total Conta Pagar:" />
											<h:outputText styleClass="tituloTotalCredito" style="position:relative; left:5px; bottom:2px;" value="#{pagamentoControle.pagamentoVO.valorTotalContaPagar}">
												<f:convertNumber pattern="#,##0.00" />
											</h:outputText>
										</h:panelGroup>
										<h:panelGroup style="width:100%">
											<h:outputText styleClass="tituloCamposNegrito" value="Valor Total Juro:" />
											<h:outputText styleClass="tituloTotalDebito" style="position:relative; bottom:2px;" value="#{pagamentoControle.pagamentoVO.valorTotalJuro}">
												<f:convertNumber pattern="#,##0.00" />
											</h:outputText>
										</h:panelGroup>

										<h:panelGroup style="width:100%">
											<h:outputText styleClass="tituloCamposNegrito" value="Valor Total Multa:" />
											<h:outputText styleClass="tituloTotalDebito" style="position:relative; bottom:2px;" value="#{pagamentoControle.pagamentoVO.valorTotalMulta}">
												<f:convertNumber pattern="#,##0.00" />
											</h:outputText>
										</h:panelGroup>

										<h:panelGroup style="width:100%">
											<h:outputText styleClass="tituloCamposNegrito" value="Valor Total Desconto:" />
											<h:outputText styleClass="tituloTotalCredito" style="position:relative; bottom:2px;" value="#{pagamentoControle.pagamentoVO.valorTotalDesconto}">
												<f:convertNumber pattern="#,##0.00" />
											</h:outputText>
										</h:panelGroup>

										<h:panelGroup style="width:100%; margin-left: 10px;">
											<h:outputText styleClass="tituloCamposNegrito" value="Valor Total Pagar:" />
											<h:outputText styleClass="tituloTotalDebito" style="position:relative; left:43px; bottom:2px;" value="#{pagamentoControle.pagamentoVO.valorTotalPagar}">
												<f:convertNumber pattern="#,##0.00" />
											</h:outputText>
										</h:panelGroup>

										<h:panelGroup style="width:100%">
											<h:outputText styleClass="tituloCamposNegrito" value="Valor Pago:" />
											<h:outputText styleClass="tituloTotalCredito" style="position:relative; left:32px; bottom:2px;" value="#{pagamentoControle.pagamentoVO.valorTotalPago}">
												<f:convertNumber pattern="#,##0.00" />
											</h:outputText>
										</h:panelGroup>

										<h:panelGroup style="width:100%">
											<h:outputText styleClass="tituloCamposNegrito" value="Valor Pendente:" />
											<h:outputText styleClass="tituloTotalDebito" style="position:relative; left:10px; bottom:2px;" value="#{pagamentoControle.pagamentoVO.valorPendente}">
												<f:convertNumber pattern="#,##0.00" />
											</h:outputText>
										</h:panelGroup>
										<h:panelGroup style="width:100%">
											<h:outputText styleClass="tituloCamposNegrito" value="Valor Troco:" />
											<h:outputText styleClass="tituloTotalCredito" style="position:relative; left:53px; bottom:2px;" value="#{pagamentoControle.pagamentoVO.troco}">
												<f:convertNumber pattern="#,##0.00" />
											</h:outputText>

										</h:panelGroup>
									</h:panelGrid>
									<!-- 									</rich:panel> -->
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-12" style="margin-bottom: 30px;"></div>



					<div class="col-xs-12" style="padding-top: 30px; padding-bottom: 20px;">

						<div class="botoesBackground">
							<h:commandLink id="btnNovo" action="#{pagamentoControle.novo}" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-new-window"></span>  Novo
							</h:commandLink>
							<h:panelGroup>
								<h:panelGroup rendered="#{!pagamentoControle.pagamentoVO.estornado}">

									<h:commandLink id="btnGravar" styleClass="btn btn-primary botoes" style="margin-right:5px;">
										<span class="glyphicon glyphicon-floppy-disk"></span>  Gravar
										<a4j:ajax event="click" render="form" execute="@form" listener="#{pagamentoControle.persistir}" />
									</h:commandLink>

									<h:commandLink id="btnExcluir" action="#{pagamentoControle.estornarPagamento}" styleClass="btn btn-danger botoes" style="margin-right:5px;" onclick="return confirm('#{msg.msg_confirmacao_estorno}');">
										<span class="glyphicon glyphicon-exclamation-sign"></span>  Estornar
									</h:commandLink>

									<h:panelGroup>
										<h:commandLink action="contaPagarCons?faces-redirect=true" styleClass="btn btn-default" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-share-alt"></span>
											Voltar Conta Pagar
										</h:commandLink>
									</h:panelGroup>

								</h:panelGroup>
							</h:panelGroup>
							<h:commandLink id="btnConsultar" action="#{pagamentoControle.irTelaConsulta}" styleClass="btn btn-primary botoes">
								<span class="glyphicon glyphicon-search"></span>  Consultar
							</h:commandLink>
						</div>

					</div>

					<h:panelGroup id="mensagens" layout="block">
						<div class="col-xs-12">
							<h:panelGroup layout="block" rendered="#{pagamentoControle.apresentarMensagemDetalhada and pagamentoControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{pagamentoControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{pagamentoControle.apresentarMensagem and pagamentoControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{pagamentoControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{pagamentoControle.apresentarMensagem and pagamentoControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{pagamentoControle.mensagem}" />
								</div>
							</h:panelGroup>
						</div>
					</h:panelGroup>
				</div>

			</div>
		</h:form>
	</h:body>
</f:view>
</html>
