<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich">

<h:head>
	<title>Videira Project</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />

</h:head>
<f:view>
	<h:body>


		<h:form id="form">

			<ui:include src="topo.xhtml" />

			<div class="container-fluid">

				<div class="col-sm-2">
					<!-- menu navegação lateral -->
					<ui:include src="menu.xhtml" />
					<!-- /.menu navegação lateral -->
				</div>

				<div class="col-xs-10 text-left backgroundPagina">
					<div class="text-left subtituloPagina">
						<span class="glyphicon glyphicon-home" style="position: relative; top: 10px; left: 5px;"></span>
						<h:outputText styleClass="tituloCamposTopo" value="Perfil Usuário" style="position:relative; top:7px; left:10px;" />
					</div>
					<div class="tab-content">
						<div>
							<div class="col-xs-12">
								<h:outputText styleClass="tituloCampos" value="Nome" />
							</div>

							<div class="col-xs-6">
								<h:inputText styleClass="camposObrigatorios" value="#{perfilUsuarioControle.perfilUsuarioVO.nome}" />
							</div>
						</div>
						<div style="position: relative; top: 10px;">
							<div class="col-xs-12">
								<h:panelGroup layout="block" style="text-align: center;">
									<h:commandLink styleClass="tituloPerfilUsuario" value="Todos" render="listaModulos" action="#{perfilUsuarioControle.inicializarDadosModuloSelecionado}">
										<f:setPropertyActionListener target="#{perfilUsuarioControle.nomeMenuCarregar}" value="TODOS" />
									</h:commandLink>

									<h:commandLink style="position:relative; left: 30px;" styleClass="tituloPerfilUsuario" value="Administrativo" render="listaModulos" action="#{perfilUsuarioControle.inicializarDadosModuloSelecionado}">
										<f:setPropertyActionListener target="#{perfilUsuarioControle.nomeMenuCarregar}" value="MENU_ADMINISTRATIVO" />
									</h:commandLink>

									<a4j:commandLink style="position:relative; left: 60px;" styleClass="tituloPerfilUsuario" value="Básico" render="listaModulos" action="#{perfilUsuarioControle.inicializarDadosModuloSelecionado}">
										<f:setPropertyActionListener target="#{perfilUsuarioControle.nomeMenuCarregar}" value="MENU_BASICO" />
									</a4j:commandLink>

									<a4j:commandLink style="position:relative; left: 90px;" styleClass="tituloPerfilUsuario" value="Encontro com Deus" render="listaModulos" action="#{perfilUsuarioControle.inicializarDadosModuloSelecionado}">
										<f:setPropertyActionListener target="#{perfilUsuarioControle.nomeMenuCarregar}" value="MENU_ENCONTRO" />
									</a4j:commandLink>

									<a4j:commandLink style="position:relative; left: 120px;" styleClass="tituloPerfilUsuario" value="Usuário" render="listaModulos" action="#{perfilUsuarioControle.inicializarDadosModuloSelecionado}">
										<f:setPropertyActionListener target="#{perfilUsuarioControle.nomeMenuCarregar}" value="MENU_USUARIO" />
									</a4j:commandLink>

									<a4j:commandLink style="position:relative; left: 150px;" styleClass="tituloPerfilUsuario" value="Relatório" render="listaModulos" action="#{perfilUsuarioControle.inicializarDadosModuloSelecionado}">
										<f:setPropertyActionListener target="#{perfilUsuarioControle.nomeMenuCarregar}" value="MENU_RELATORIO" />
									</a4j:commandLink>


								</h:panelGroup>

							</div>
						</div>

						<h:panelGroup layout="block" id="listaModulos">
							<div style="position: relative; top: 20px;">
								<div>
									<div class="col-md-11 text-md-right" style="position: relative; text-align: right; top: 8px;">
										<h:outputText value="Adicionar / Remover todas permissões" style="text-align: right;" />
									</div>
									<div class="col-md-1 text-md-right">
										<h:selectBooleanCheckbox value="#{perfilUsuarioControle.todasPermissoes}" styleClass="campos" style="position:relative; right:12px;">
											<a4j:ajax event="click"  render=":form:items" execute="@this"  listener="#{perfilUsuarioControle.marcarTodasOpcoesPermissao}"></a4j:ajax>
										</h:selectBooleanCheckbox>
									</div>
								</div>
								<div class="col-xs-12">

									<rich:dataTable id="items" style="margin:0px;" value="#{perfilUsuarioControle.perfilUsuarioVO.permissaoUsuarioMenuVOs}" styleClass="table table-bordered" var="moduloItem">
										<rich:column rendered="#{moduloItem.apresentarModulo}" style="text-align: center; vertical-align:middle; ">
											<h:panelGroup layout="block">
												<h:outputText value="#{moduloItem.descricaoModulo}" />
											</h:panelGroup>
										</rich:column>
										<rich:column style="text-align: center; width: 70px; vertical-align:middle;" rendered="#{moduloItem.apresentarModulo}">

											<h:selectBooleanCheckbox value="#{moduloItem.permissaoModulo}" styleClass="campos">
												<a4j:ajax render="itemsSubModulo" execute="@form" listener="#{perfilUsuarioControle.realizarDesmarcacaoSubModuloAoDesmarcarModuloPrincipal}"></a4j:ajax>
											</h:selectBooleanCheckbox>
										</rich:column>
										<rich:column style="text-align: center;" rendered="#{moduloItem.apresentarModulo}">
											<rich:dataTable id="itemsSubModulo" style="margin:0px; padding:0px;" rendered="#{moduloItem.apresentarModulo}" value="#{moduloItem.permissaoUsuarioMenuSubModuloVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" var="subModuloItem">
												<rich:column style="text-align: center;">
													<h:outputText rendered="#{moduloItem.apresentarModulo}" value="#{subModuloItem.descricaoSubModulo}" />
												</rich:column>
												<rich:column style="text-align: center; width: 70px;">
													<h:selectBooleanCheckbox rendered="#{moduloItem.apresentarModulo}" value="#{subModuloItem.permissaoSubModulo}" styleClass="campos" />
												</rich:column>
											</rich:dataTable>
										</rich:column>
									</rich:dataTable>
								</div>
							</div>
						</h:panelGroup>


					</div>

					<div class="col-xs-12" style="margin-bottom: 30px;"></div>

					<div class="col-xs-12" style="position: relative; top: 0px;">
						<div class="botoesBackground">
							<h:commandLink id="btnNovo" action="#{perfilUsuarioControle.novo}" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-new-window"></span>  Novo
							</h:commandLink>

							<h:commandLink id="btnGravar" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-floppy-disk"></span>  Gravar
								<a4j:ajax event="click" render="form" execute="@form" listener="#{perfilUsuarioControle.persistir}" />
							</h:commandLink>

							<h:commandLink id="btnExcluir" action="#{perfilUsuarioControle.excluir}" styleClass="btn btn-danger botoes" style="margin-right:5px;" onclick="return confirm('#{msg.msg_confirmacao_excluxao}');">
								<span class="glyphicon glyphicon-exclamation-sign"></span>  Excluir
							</h:commandLink>

							<h:commandLink id="btnConsultar" action="#{perfilUsuarioControle.irTelaConsulta}" styleClass="btn btn-primary botoes">
								<span class="glyphicon glyphicon-search"></span>  Consultar
							</h:commandLink>

						</div>
					</div>

					<div class="col-xs-12">
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{perfilUsuarioControle.apresentarMensagemDetalhada and perfilUsuarioControle.apresentarMensagemErro}">
							<div class="col-xs-12 alert alert-danger" role="alert">
								<h:outputText value="#{perfilUsuarioControle.mensagemDetalhada}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{perfilUsuarioControle.apresentarMensagem and perfilUsuarioControle.apresentarMensagemAtencao}">
							<div class="col-xs-12 alert alert-warning" role="alert">
								<h:outputText value="#{perfilUsuarioControle.mensagem}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{perfilUsuarioControle.apresentarMensagem and perfilUsuarioControle.apresentarMensagemSucesso}">
							<div class="col-xs-12 alert alert-success" role="alert">
								<h:outputText value="#{perfilUsuarioControle.mensagem}" />
							</div>
						</h:panelGroup>
					</div>
				</div>
			</div>

		</h:form>

	</h:body>
</f:view>
</html>
