<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:otm="http://java.sun.com/jsf/composite/otm">

<h:head>
	<title>SCM</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />

	 	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"></link> 
	 	<link href="css/estilo.css" rel="stylesheet" media="screen"></link> 
	 	<link href="css/painel.css" rel="stylesheet" media="screen"></link> 

</h:head>
<f:view>
	<h:body>

		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
<!-- 				<h:commandLink styleClass="navbar-brand" value="imagens/logo3.png"  action="home?faces-redirect=true" /> -->
	
		<h:graphicImage   url="imagens/logo3.png" style="float: left;height: 50px;position: relative;left: 50px;"/>

				<span class="glyphicon glyphicon-user navbar-brand-usuario-icon"></span>
				<h:outputText styleClass="navbar-brand-usuario" value="Administrador " />


			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-area-chart fa-2x"></i></a></li>
					<li><a href="#"><i class="fa fa-birthday-cake fa-2x"></i></a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user fa-2x"></i> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Minha Conta</a></li>
							<li><a href="#">Trocar Senha</a></li>
							<li class="divider"></li>
							<li>
								<a4j:commandLink value="Logout" action="#{loginControle.logout}" />
							</li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid --> </nav>
		 		<script src="js/jquery-3.0.0.min.js"></script> 
		 		<script src="js/bootstrap.min.js"></script> 
		 		<script src="js/script.js"></script>
		 		<script src="js/main.js"></script> 

	</h:body>
</f:view>
</html>
