<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:otm="http://java.sun.com/jsf/composite/otm">

<h:head>
	<title>SCM</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />

</h:head>
<f:view>
	<h:body>

		<div class="modal fade" id="modalFuncionario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
			<h:form id="formFuncionario">
				<div class="modal-dialog modal-medio" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Funcionario</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-2 text-left">
									<label class="tituloCampos" style="margin-left: 10px; position: relative; top: 5px;">Consultar Por</label>
								</div>
								<div class="col-xs-2 text-left">
									<h:selectOneMenu styleClass="camposComboBox" value="#{usuarioControle.campoConsulta}">
										<f:selectItems value="#{usuarioControle.listaSelectItemVOs}" />
									</h:selectOneMenu>
								</div>
								<div class="col-xs-4 text-left">
									<h:inputText styleClass="form-control" value="#{usuarioControle.valorConsulta}" />
								</div>
								<div class="col-xs-1 text-left">
									<a4j:commandLink id="btnConsultarCliente" action="#{usuarioControle.consultarPessoa}" styleClass="btn btn-primary botoes" render="formFuncionario">
										<span class="glyphicon glyphicon-search"></span>  Consultar
									</a4j:commandLink>
								</div>
							</div>
						</div>

						<div style="margin-top: 20px;">
							<div class="col-xs-12">
								<rich:dataTable id="itemsFuncionario" value="#{usuarioControle.listaConsultaPessoaVOs}" rendered="#{not empty usuarioControle.listaConsultaPessoaVOs}" styleClass="table table-bordered table-striped table-hover table-condensed" rows="5" var="funcionarioItem">

									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Código" />
										</f:facet>
										<a4j:commandLink action="#{usuarioControle.selecionarPessoa}" render="form:funcionario, formFuncionario" oncomplete="$('#modalFuncionario').modal('hide');" styleClass="labelCampos" id="codigoCliente" value="#{funcionarioItem.codigo}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Nome" />
										</f:facet>
										<a4j:commandLink action="#{usuarioControle.selecionarPessoa}" oncomplete="$('#modalFuncionario').modal('hide');" render="form:funcionario, formFuncionario" styleClass="labelCampos" id="nomeCliente" value="#{funcionarioItem.nome}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Funcionario" />
										</f:facet>
										<a4j:commandLink action="#{usuarioControle.selecionarPessoa}" oncomplete="$('#modalFuncionario').modal('hide');" render="form:funcionario, formFuncionario" styleClass="labelCampos" id="cpfCliente" value="#{funcionarioItem.cpf}" />
									</rich:column>
									<rich:column style="text-align: center;">
										<f:facet name="header">
											<h:outputText value="Opções" />
										</f:facet>
										<a4j:commandLink id="btnEditar" action="#{usuarioControle.selecionarPessoa}" oncomplete="$('#modalFuncionario').modal('hide');" render="form:funcionario, formFuncionario" styleClass="btn btn-primary" style="margin-right:5px;">
											<span class="glyphicon glyphicon glyphicon-pencil"></span>
										</a4j:commandLink>

									</rich:column>
									<f:facet name="footer">
										<div style="text-align: center !important">
											<rich:dataScroller align="center" for="formFuncionario:itemsFuncionario" boundaryControls="auto" stepControls="auto" fastControls="auto" id="scResultadoCliente" />
										</div>
									</f:facet>
								</rich:dataTable>
							</div>
						</div>
						<div class="col-xs-12">
							<h:panelGroup layout="block" rendered="#{usuarioControle.apresentarMensagemDetalhada and usuarioControle.apresentarMensagemErro}">
								<div class="col-xs-12 alert alert-danger" role="alert">
									<h:outputText value="#{usuarioControle.mensagemDetalhada}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{usuarioControle.apresentarMensagem and usuarioControle.apresentarMensagemAtencao}">
								<div class="col-xs-12 alert alert-warning" role="alert">
									<h:outputText value="#{usuarioControle.mensagem}" />
								</div>
							</h:panelGroup>
							<h:panelGroup layout="block" rendered="#{usuarioControle.apresentarMensagem and usuarioControle.apresentarMensagemSucesso}">
								<div class="col-xs-12 alert alert-success" role="alert">
									<h:outputText value="#{usuarioControle.mensagem}" />
								</div>
							</h:panelGroup>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						</div>


					</div>
				</div>
			</h:form>
		</div>

		<h:form id="form">

			<ui:include src="topo.xhtml" />

			<div class="container-fluid">

				<div class="col-sm-2">
					<!-- menu navegação lateral -->
					<ui:include src="menu.xhtml" />
					<!-- /.menu navegação lateral -->
				</div>

				<div class="col-xs-10 text-left backgroundPagina">
					<div class="text-left subtituloPagina">
						<span class="glyphicon glyphicon-home" style="position: relative; top: 10px; left: 5px;"></span>
						<h:outputText styleClass="tituloCamposTopo" value="Usuario" style="position:relative; top:7px; left:10px;" />
					</div>
					

					<div class="tab-content">
						<div id="abaDadosBasicos" class="tab-pane fade in active">
							<div>
								<div class="col-xs-2">
									<h:outputText styleClass="tituloCampos" value="Data Cadastro" />
									<rich:calendar id="dataCadastro" readonly="true" disabled="true" style="display:block;" oninputkeypress="return mascara(this.form, this.id, '99/99/9999', event);" onchanged="return renderData(this.id)" oninputchange="validarData(this.value,this.id)" enableManualInput="true" datePattern="dd/MM/yyyy" inputClass="camposDataObrigatorio" value="#{contaReceberControle.contaReceberVO.dataCadastro}" />
								</div>
										
							</div>
										
							<div>
								<div class="col-xs-12">
									<h:outputText styleClass="tituloCampos" value="Funcionario" />
								</div>
								<div class="col-xs-6" style="padding-right: 0px;">
									<h:inputText id="funcionario" styleClass="camposObrigatoriosSomenteLeitura" readonly="true" value="#{usuarioControle.usuarioVO.pessoaVO.nome}" />
								</div>
								<div class="col-xs-6">
									<h:commandLink id="logoutButton" styleClass="btn btn-primary botoesModal" style="position:relative; margin-right: 5px;">
										<a4j:ajax event="click" render="formFuncionario" listener="#{usuarioControle.limparDadosModalPessoa}" oncomplete="$('#modalFuncionario').modal('show');" />
										<span class="glyphicon glyphicon-modal-window"></span>
									</h:commandLink>
									<a4j:commandLink id="limparCliente" action="#{usuarioControle.limparPessoa}" render="form:funcionario" styleClass="btn btn-danger botoesModal">
										<span class="glyphicon glyphicon-remove"></span>
									</a4j:commandLink>
								</div>
							</div>

							

							<div class="col-xs-12">

								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Usuario" />                   
									<h:inputText id="usuario" styleClass="form-control" value="#{usuarioControle.usuarioVO.userName}"  />
								</div>
								<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Senha" />
									<h:inputText id="senha"  styleClass="form-control" type="text" maxlength="90" value="#{usuarioControle.usuarioVO.senha}" />
								</div>
								
							</div>
										

						
							<div>
								<div class="col-xs-12">
									<h:outputText styleClass="tituloCampos" value="Perfil Acesso" />

								</div>
								<div class="col-xs-6">
									<h:selectOneMenu styleClass="camposComboBox" value="#{contaReceberControle.contaReceberVO.contaCorrenteVO.codigo}">
										<f:selectItems value="#{contaReceberControle.listaSelectItemContaCorrenteVOs}" />
									</h:selectOneMenu>
								</div>
							</div>	
							
							<div>
					
							</div>				

						</div>
											
					</div>
					
						<div class="col-xs-8" style="padding-left: 0px;">
									<div class="col-xs-2" >
										<h:outputText styleClass="tituloCampos" style="position:relative;  top: 6px;" value="Usuarios Ativo" />
									</div>
									
										<h:selectBooleanCheckbox style="position:relative; left: -16px; width: 14px; height: 14px; top: 4px;" styleClass="campos" value="#{usuarioControle.usuarioVO.exerceCargoAdministrativo}">
											<a4j:ajax event="click" execute="@this"  />
										</h:selectBooleanCheckbox>
		     			</div>	
															
						 
					<div class="col-xs-12" style="margin-bottom: 30px;"></div>

					<div class="col-xs-12" style="position: relative; top: 0px;">
						<div class="botoesBackground">
							<h:commandLink id="btnNovo" action="#{usuarioControle.novo}" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-new-window"></span>  Novo
							</h:commandLink>

							<h:commandLink id="btnGravar" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-floppy-disk"></span>  Gravar
								<a4j:ajax event="click" render="form" execute="@form" listener="#{usuarioControle.persistir}" />
							</h:commandLink>

							<h:commandLink id="btnExcluir" action="#{usuarioControle.excluir}" styleClass="btn btn-danger botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-exclamation-sign"></span>  Excluir
							</h:commandLink>

							<h:commandLink id="btnConsultar" action="#{usuarioControle.irTelaConsulta}" styleClass="btn btn-primary botoes">
								<span class="glyphicon glyphicon-search"></span>  Consultar
							</h:commandLink>

						</div>
					</div>

					<div class="col-xs-12">
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{usuarioControle.apresentarMensagemDetalhada and usuarioControle.apresentarMensagemErro}">
							<div class="col-xs-12 alert alert-danger" role="alert">
								<h:outputText value="#{usuarioControle.mensagemDetalhada}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{usuarioControle.apresentarMensagem and usuarioControle.apresentarMensagemAtencao}">
							<div class="col-xs-12 alert alert-warning" role="alert">
								<h:outputText value="#{usuarioControle.mensagem}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{usuarioControle.apresentarMensagem and usuarioControle.apresentarMensagemSucesso}">
							<div class="col-xs-12 alert alert-success" role="alert">
								<h:outputText value="#{usuarioControle.mensagem}" />
							</div>
						</h:panelGroup>
					</div>
					
					
					
				</div>
			</div>

		</h:form>



	</h:body>
</f:view>
</html>
