<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j" xmlns:rich="http://richfaces.org/rich" xmlns:otm="http://java.sun.com/jsf/composite/otm">

<h:head>
	<title>SCM</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />


</h:head>
<f:view>
	<h:body>

		<h:form id="form">
			<ui:include src="topo.xhtml" />

			<div class="container-fluid">

				<div class="col-sm-2">
					<!-- menu navegação lateral -->
					<ui:include src="menu.xhtml" />
					<!-- /.menu navegação lateral -->
				</div>

				<div class="col-xs-10 text-left backgroundPagina">
					<div class="text-left subtituloPagina">
						<span class="glyphicon glyphicon-home" style="position: relative; top: 10px; left: 5px;"></span>
						<h:outputText styleClass="tituloCamposTopo" value="Plano Horas" style="position:relative; top:7px; left:10px;" />
					</div>

					<div class="tab-content">
						<div class="tab-pane fade in active">
							<div>
								

								<h:panelGroup id="dadosPlanoHoras">
									<h:panelGroup rendered="#{!contaCorrenteControle.contaCorrenteVO.contaCaixa}">
										<div class="col-xs-12">
											<div class="col-xs-6" style="padding-right: 0px; padding-left: 0px;">
												<h:outputText styleClass="tituloCampos" value="Descrição" />
												<h:inputText maxlength="40" styleClass="camposObrigatorios" id="Descricao" value="#{contaCorrenteControle.contaCorrenteVO.numero}" />
											</div>
											<div class="col-xs-6" style="padding-right: 0px;">												
												<h:outputText styleClass="tituloCampos" style="position:relative;  top: 20px;" value="Ativo" />																			
										        <h:selectBooleanCheckbox style="position:relative; left: 5px; width: 94px; height: 18px; top: 2px;" styleClass="campos" value="#{usuarioControle.usuarioVO.exerceCargoAdministrativo}">
											    <a4j:ajax event="click" execute="@this"  />
											</h:selectBooleanCheckbox>
		     							   </div>									
											
										</div>

										<div class="col-xs-12">
											
											<div class="col-xs-2" style="padding-left: 0px;">
									<h:outputText styleClass="tituloCampos" value="Valor" />
									<h:inputText id="desconto" styleClass="camposObrigatorios" value="#{contaReceberControle.contaReceberVO.desconto}">
										<a4j:ajax event="blur" execute="@form" render="valorTotal" listener="#{contaReceberControle.realizarCalculoValorTotal}"></a4j:ajax>
										<f:converter converterId="FormatadorNumerico" />
									</h:inputText>
								</div>					
											
										</div>
									</h:panelGroup>
								</h:panelGroup>



							</div>
						</div>

					</div>

					<div class="col-xs-12" style="margin-bottom: 30px;"></div>

					<div class="col-xs-12" style="position: relative; top: 0px;">
						<div class="botoesBackground">
							<h:commandLink id="btnNovo" action="#{contaCorrenteControle.novo}" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-new-window"></span>  Novo
							</h:commandLink>

							<h:commandLink id="btnGravar" styleClass="btn btn-primary botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-floppy-disk"></span>  Gravar
								<a4j:ajax event="click" render="form" execute="@form" listener="#{contaCorrenteControle.persistir}" />
							</h:commandLink>

							<h:commandLink id="btnExcluir" action="#{contaCorrenteControle.excluir}" styleClass="btn btn-danger botoes" style="margin-right:5px;">
								<span class="glyphicon glyphicon-exclamation-sign"></span>  Excluir
							</h:commandLink>

							<h:commandLink id="btnConsultar" action="#{contaCorrenteControle.irTelaConsulta}" styleClass="btn btn-primary botoes">
								<span class="glyphicon glyphicon-search"></span>  Consultar
							</h:commandLink>

						</div>
					</div>

					<div class="col-xs-12">
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{contaCorrenteControle.apresentarMensagemDetalhada and contaCorrenteControle.apresentarMensagemErro}">
							<div class="col-xs-12 alert alert-danger" role="alert">
								<h:outputText value="#{contaCorrenteControle.mensagemDetalhada}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{contaCorrenteControle.apresentarMensagem and contaCorrenteControle.apresentarMensagemAtencao}">
							<div class="col-xs-12 alert alert-warning" role="alert">
								<h:outputText value="#{contaCorrenteControle.mensagem}" />
							</div>
						</h:panelGroup>
						<h:panelGroup layout="block" style="position:relative; top:20px;" rendered="#{contaCorrenteControle.apresentarMensagem and contaCorrenteControle.apresentarMensagemSucesso}">
							<div class="col-xs-12 alert alert-success" role="alert">
								<h:outputText value="#{contaCorrenteControle.mensagem}" />
							</div>
						</h:panelGroup>
					</div>

				</div>
			</div>

		</h:form>


	</h:body>
</f:view>
</html>
